body {
  background-color: var(--c1);
  color: var(--c2);
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 0em;
  margin: 0em;
  font-size: 3em;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  }
:root {
    --c1: #363639;
    --c2: #f9f9f9;
    --c3: #3789c3;
    --c4: #a24e58;
    --c5: #878784;
    --c6: #ab8147;
    --c7: #aca3a3;

  }
  a{ 
    color: #c5dbff;
  }


  body::-webkit-scrollbar {
    display: none;
  }
  body {
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: none;
 
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: none;
  }
