.app-page2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.app-page2-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6c5b0;
}
.app-page2-image {
  height: 300px;
  object-fit: cover;
}
.app-page2-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-primary-1);
}
.app-page2-image01 {
  height: 500px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.app-page2-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-primary-1);
}
.app-page2-image02 {
  height: 400px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.app-page2-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c4949;
}
.app-page2-image03 {
  height: 300px;
  object-fit: cover;
}
.app-page2-image04 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.app-page2-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c4949;
}
.app-page2-image05 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.app-page2-image06 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.app-page2-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c4949;
}
.app-page2-image07 {
  height: 250px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.app-page2-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c4949;
}
.app-page2-image08 {
  height: 250px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.app-page2-image09 {
  height: 250px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.app-page2-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c4949;
}
.app-page2-image10 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.app-page2-image11 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.app-page2-image12 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.app-page2-container09 {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-700);
}
.app-page2-link {
  display: contents;
}
.app-page2-image13 {
  width: 50px;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 479px) {
  .app-page2-image {
    height: 250px;
  }
  .app-page2-image02 {
    height: 350px;
  }
  .app-page2-container09 {
    height: 100px;
  }
}
