.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  flex-direction: column;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.index-container01 {
  padding: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-gray-black);
}
.index-head-container {
  width: 100%;
  height: 450px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/500.png');
  background-repeat: repeat;
  background-position: bottom left;
}
.index-title-con {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.index-overcon {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.index-title {
  color: #ffffff;
  z-index: 100;
  font-size: 70px;
  align-self: center;
  letter-spacing: 40px;
}
.index-subtitle {
  color: #ffffff;
  z-index: 100;
  font-size: 20px;
  letter-spacing: 5px;
}
.index-under-con {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.index-link {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index-link01 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index-link02 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index-link03 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index-link04 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index-link05 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index-link06 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index-link07 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index-link08 {
  display: contents;
}
.index-twitter {
  top: 0px;
  left: 0px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link09 {
  display: contents;
}
.index-twitter1 {
  top: 0px;
  left: 100px;
  width: 4px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link10 {
  display: contents;
}
.index-youtube {
  top: 0px;
  right: 200px;
  width: 40px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link11 {
  display: contents;
}
.index-unicodepod {
  top: 0px;
  left: 200px;
  width: 40px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link12 {
  display: contents;
}
.index-spotify {
  right: 280px;
  width: 40px;
  bottom: 0px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link13 {
  display: contents;
}
.index-tumblr {
  right: 0px;
  width: 80px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link14 {
  display: contents;
}
.index-botseikatu {
  top: 0px;
  left: 120px;
  width: 40px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link15 {
  display: contents;
}
.index-kakuyomu {
  top: 0px;
  left: 300px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link16 {
  display: contents;
}
.index-instagram {
  top: 0px;
  right: 240px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link17 {
  display: contents;
}
.index-git-hub {
  right: 120px;
  width: 40px;
  bottom: 120px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link18 {
  display: contents;
}
.index-mstdn {
  top: 0px;
  left: 460px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link19 {
  display: contents;
}
.index-discord {
  top: 0px;
  left: 380px;
  width: 40px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link20 {
  display: contents;
}
.index-tik-tok {
  right: 0px;
  width: 40px;
  bottom: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link21 {
  display: contents;
}
.index-pixiv {
  top: 0px;
  right: 0px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link22 {
  display: contents;
}
.index-niconico {
  right: 120px;
  width: 80px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link23 {
  display: contents;
}
.index-soundcloud {
  top: 0px;
  right: 400px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link24 {
  display: contents;
}
.index-v-rchat {
  right: 80px;
  width: 40px;
  bottom: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-text001 {
  color: var(--dl-color-gray-white);
  align-self: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-size: cover;
  background-image: url('https://pbs.twimg.com/profile_images/1503348060315058177/ysZmgkS4_400x400.jpg');
}
.index-history {
  top: 1px;
  left: 0px;
  color: var(--dl-color-gray-black);
  align-self: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-900);
}
.index-text005 {
  text-decoration: underline;
}
.index-buttoncon {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.index-button {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index-text011 {
  color: var(--dl-color-gray-500);
}
.index-button1 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index-text012 {
  color: var(--dl-color-gray-500);
}
.index-button2 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index-text014 {
  color: var(--dl-color-gray-500);
}
.index-button3 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index-text015 {
  color: var(--dl-color-gray-500);
}
.index-button4 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index-text016 {
  color: var(--dl-color-gray-500);
}
.index-button5 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index-text017 {
  color: var(--dl-color-gray-500);
}
.index-button6 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index-text018 {
  color: var(--dl-color-gray-500);
}
.index-button7 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index-text020 {
  color: var(--dl-color-gray-500);
}
.index-container02 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.index-contents {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-cont {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-link26 {
  color: var(--dl-color-primary-300);
  text-decoration: none;
}
.index-text022 {
  margin-left: var(--dl-space-space-unit);
}
.index-cont01 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-link27 {
  color: var(--dl-color-primary-300);
  text-decoration: none;
}
.index-text024 {
  margin-left: var(--dl-space-space-unit);
}
.index-cont02 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-link28 {
  color: var(--dl-color-primary-300);
  text-decoration: none;
}
.index-text027 {
  margin-left: var(--dl-space-space-unit);
}
.index-cont03 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-link29 {
  color: var(--dl-color-primary-300);
  text-decoration: none;
}
.index-text029 {
  margin-left: var(--dl-space-space-unit);
}
.index-cont04 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-link30 {
  color: var(--dl-color-primary-300);
  text-decoration: none;
}
.index-text032 {
  margin-left: var(--dl-space-space-unit);
}
.index-cont05 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-link31 {
  color: var(--dl-color-primary-300);
  text-decoration: none;
}
.index-text034 {
  margin-left: var(--dl-space-space-unit);
}
.index-cont06 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-link32 {
  color: var(--dl-color-primary-300);
  text-decoration: none;
}
.index-text035 {
  margin-left: var(--dl-space-space-unit);
}
.index-cont07 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-link33 {
  color: var(--dl-color-primary-300);
  text-decoration: none;
}
.index-text037 {
  margin-left: var(--dl-space-space-unit);
}
.index-cont08 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-link34 {
  color: var(--dl-color-primary-300);
  text-decoration: none;
}
.index-text040 {
  margin-left: var(--dl-space-space-unit);
}
.index-cont09 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-link35 {
  color: var(--dl-color-primary-300);
  text-decoration: none;
}
.index-text043 {
  margin-left: var(--dl-space-space-unit);
}
.index-cont10 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-link36 {
  color: var(--dl-color-primary-300);
  text-decoration: none;
}
.index-text045 {
  margin-left: var(--dl-space-space-unit);
}
.index-cont11 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-link37 {
  color: var(--dl-color-primary-300);
  text-decoration: none;
}
.index-text046 {
  margin-left: var(--dl-space-space-unit);
}
.index-cont12 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.index-link38 {
  color: var(--dl-color-primary-300);
  text-decoration: none;
}
.index-text048 {
  margin-left: var(--dl-space-space-unit);
}
.index-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.index-link39 {
  display: contents;
}
.index-gallery-card {
  height: 300px;
  display: flex;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/456.png');
}
.index-text051 {
  color: #ffffff;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-text052 {
  color: #ffffff;
  align-self: flex-start;
}
.index-gallery-card1 {
  height: 300px;
  display: flex;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-1);
}
.index-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/242.png');
}
.index-text053 {
  color: #ffffff;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-text055 {
  color: #ffffff;
  align-self: flex-start;
}
.index-gallery-card2 {
  height: 300px;
  display: flex;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-1);
}
.index-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/Photo/1.png');
  background-position: center;
}
.index-text056 {
  color: #ffffff;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-text058 {
  color: #ffffff;
  align-self: flex-start;
}
.index-gallery-card3 {
  height: 300px;
  display: flex;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-1);
}
.index-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/VRchat%E3%81%A6%E3%82%99%E4%BD%9C%E3%81%A3%209a0ad/Untitled.png');
  background-position: center;
}
.index-text059 {
  color: #ffffff;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index-text061 {
  color: #ffffff;
  align-self: flex-start;
}
.index-container08 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.index-text064 {
  width: 100%;
  background-size: contain;
  background-image: url('https://mikanixonable.github.io/319.png');
}
.index-container09 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.index-text102 {
  width: 100%;
  background-size: contain;
  background-image: url('https://mikanixonable.github.io/319.png');
}
.index-container10 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.index-text118 {
  width: 100%;
  background-size: contain;
  background-image: url('https://mikanixonable.github.io/319.png');
}
.index-container11 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.index-container12 {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.index-image {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index-image01 {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index-image02 {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index-image03 {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index-image04 {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index-image05 {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index-image06 {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index-image07 {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index-image08 {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index-container13 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.index-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-image09 {
  width: 400px;
  object-fit: cover;
}
.index-container15 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.index-button8 {
  font-size: 20px;
  border-width: 0px;
  text-decoration: none;
}
.index-text132 {
  color: var(--dl-color-primary-300);
}
@media(max-width: 991px) {
  .index-container {
    background-color: var(--dl-color-gray-white);
  }
  .index-head-container {
    width: 100%;
    height: 250px;
    background-image: url('https://mikanixonable.github.io/500.png');
  }
  .index-title-con {
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
  }
  .index-overcon {
    align-self: center;
    flex-direction: column;
  }
  .index-title {
    font-size: 50px;
    align-self: center;
  }
  .index-youtube {
    right: 200px;
    bottom: 0px;
  }
  .index-spotify {
    right: 380px;
  }
  .index-kakuyomu {
    top: 0px;
    left: 300px;
    width: 48px;
    position: absolute;
  }
  .index-instagram {
    width: 40px;
  }
  .index-mstdn {
    width: 40px;
  }
  .index-tik-tok {
    right: 80px;
    bottom: 0px;
  }
  .index-soundcloud {
    right: 280px;
  }
  .index-v-rchat {
    right: 80px;
    bottom: 80px;
    position: absolute;
  }
}
@media(max-width: 767px) {
  .index-container {
    background-color: var(--dl-color-gray-white);
  }
  .index-head-container {
    width: 100%;
    background-image: url('https://mikanixonable.github.io/500.png');
  }
  .index-title {
    top: 100px;
    color: var(--dl-color-gray-white);
    font-size: 40px;
    letter-spacing: 20px;
    background-color: transparent;
  }
  .index-subtitle {
    color: var(--dl-color-gray-white);
    bottom: 30px;
    background-color: transparent;
  }
  .index-twitter {
    width: 48px;
  }
  .index-twitter1 {
    left: 60px;
    width: 4px;
  }
  .index-youtube {
    top: 0px;
    right: 120px;
    width: 40px;
    bottom: 0px;
  }
  .index-unicodepod {
    top: 0px;
    left: 120px;
    width: 36px;
  }
  .index-spotify {
    top: 80px;
    left: 569px;
    width: 36px;
    bottom: 0px;
  }
  .index-tumblr {
    top: 80px;
    bottom: 0px;
  }
  .index-botseikatu {
    left: 84px;
    width: 36px;
  }
  .index-kakuyomu {
    top: 0px;
    left: 300px;
    width: 48px;
    position: absolute;
  }
  .index-instagram {
    width: 40px;
  }
  .index-git-hub {
    top: 40px;
    bottom: 0px;
  }
  .index-mstdn {
    left: 430px;
    width: 40px;
  }
  .index-tik-tok {
    top: 120px;
    bottom: 0px;
  }
  .index-niconico {
    top: 0px;
    right: 80px;
    width: 40px;
    bottom: 0px;
  }
  .index-soundcloud {
    right: 160px;
  }
  .index-v-rchat {
    top: 80px;
    width: 40px;
    bottom: 0px;
  }
  .index-gallery-card {
    height: 200px;
    flex-direction: column;
  }
  .index-container04 {
    height: 70%;
  }
  .index-gallery-card1 {
    height: 200px;
    flex-direction: column;
  }
  .index-container05 {
    height: 70%;
  }
  .index-gallery-card2 {
    height: 200px;
    flex-direction: column;
  }
  .index-container06 {
    height: 70%;
  }
  .index-gallery-card3 {
    height: 200px;
    flex-direction: column;
  }
  .index-container07 {
    height: 70%;
  }
}
@media(max-width: 479px) {
  .index-container {
    background-color: var(--dl-color-gray-white);
  }
  .index-head-container {
    width: 100%;
    height: 250px;
    background-image: url('https://mikanixonable.github.io/500.png');
  }
  .index-title-con {
    flex-wrap: wrap;
    align-self: flex-end;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .index-overcon {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index-title {
    top: 0px;
    left: 0px;
    color: var(--dl-color-gray-white);
    bottom: 0px;
    position: static;
    font-size: 45px;
    align-self: center;
    text-align: left;
    letter-spacing: 20px;
    text-transform: uppercase;
  }
  .index-subtitle {
    color: var(--dl-color-gray-white);
    bottom: 10px;
    margin: 0px;
    position: static;
    font-size: 15px;
    align-self: flex-start;
  }
  .index-link {
    padding: 2px;
    font-size: 12px;
  }
  .index-link01 {
    padding: 2px;
    font-size: 12px;
  }
  .index-link02 {
    padding: 2px;
    font-size: 12px;
  }
  .index-link03 {
    padding: 2px;
    font-size: 12px;
  }
  .index-link04 {
    padding: 2px;
    font-size: 12px;
  }
  .index-link05 {
    padding: 2px;
    font-size: 12px;
  }
  .index-link06 {
    padding: 2px;
    font-size: 12px;
  }
  .index-link07 {
    padding: 2px;
    font-size: 12px;
  }
  .index-twitter {
    top: 0px;
    left: 0px;
    width: 48px;
    position: absolute;
  }
  .index-twitter1 {
    top: 80px;
    left: 0px;
    width: 4px;
    position: absolute;
  }
  .index-youtube {
    top: 0px;
    right: 48px;
    width: 24px;
    bottom: 0px;
  }
  .index-unicodepod {
    top: 0px;
    left: 72px;
    right: 0px;
    width: 36px;
  }
  .index-spotify {
    top: 36px;
    left: 84px;
    width: 24px;
  }
  .index-tumblr {
    top: 108px;
    right: 0px;
    width: 48px;
    position: absolute;
  }
  .index-botseikatu {
    top: 0px;
    left: 48px;
    width: 24px;
    position: absolute;
  }
  .index-kakuyomu {
    top: 0px;
    left: 108px;
    width: 48px;
  }
  .index-instagram {
    top: 0px;
    right: 108px;
    width: 24px;
    position: absolute;
  }
  .index-git-hub {
    top: 48px;
    right: 48px;
    width: 24px;
    position: absolute;
  }
  .index-mstdn {
    top: 0px;
    left: 156px;
    width: 24px;
    position: absolute;
  }
  .index-discord {
    top: 24px;
    left: 156px;
    width: 24px;
  }
  .index-tik-tok {
    top: 84px;
    right: 0px;
    width: 24px;
    bottom: 0px;
  }
  .index-pixiv {
    right: 0px;
    width: 48px;
    bottom: 0px;
    position: absolute;
  }
  .index-niconico {
    top: 72px;
    right: 48px;
    width: 36px;
    position: absolute;
  }
  .index-soundcloud {
    top: 24px;
    right: 72px;
    width: 36px;
    position: absolute;
  }
  .index-v-rchat {
    top: 48px;
    right: 12px;
    width: 36px;
    position: absolute;
  }
  .index-text001 {
    font-size: 12px;
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    background-color: #333fb1;
  }
  .index-history {
    margin: 0px;
    font-size: 10px;
    align-self: stretch;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: var(--dl-color-gray-900);
  }
  .index-buttoncon {
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    background-size: cover;
    justify-content: flex-start;
    background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
  }
  .index-gallery-card {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index-container04 {
    height: 60%;
  }
  .index-gallery-card1 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index-container05 {
    height: 60%;
  }
  .index-gallery-card2 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index-container06 {
    height: 60%;
  }
  .index-gallery-card3 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index-container07 {
    height: 60%;
  }
}
