.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  flex-direction: column;
  list-style-type: disc;
  background-color: #d8d8d8;
  list-style-image: none;
  list-style-position: outside;
}
.index-head-container {
  width: 100%;
  height: 250px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.index-link {
  display: contents;
}
.index-twitter {
  top: 0px;
  left: 0px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link01 {
  display: contents;
}
.index-youtube {
  top: 0px;
  right: 200px;
  width: 40px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link02 {
  display: contents;
}
.index-unicodepod {
  top: 0px;
  left: 200px;
  width: 40px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link03 {
  display: contents;
}
.index-spotify {
  right: 280px;
  width: 40px;
  bottom: 0px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-title {
  top: 85px;
  left: 0px;
  color: var(--dl-color-gray-white);
  z-index: 100;
  position: absolute;
  font-size: 70px;
  align-self: flex-start;
  letter-spacing: 40px;
}
.index-link04 {
  display: contents;
}
.index-tumblr {
  right: 0px;
  width: 80px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link05 {
  display: contents;
}
.index-botseikatu {
  top: 0px;
  left: 120px;
  width: 40px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link06 {
  display: contents;
}
.index-kakuyomu {
  top: 0px;
  left: 300px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link07 {
  display: contents;
}
.index-instagram {
  top: 0px;
  right: 240px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link08 {
  display: contents;
}
.index-git-hub {
  right: 120px;
  width: 40px;
  bottom: 120px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link09 {
  display: contents;
}
.index-mstdn {
  top: 0px;
  left: 460px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link10 {
  display: contents;
}
.index-discord {
  top: 0px;
  left: 380px;
  width: 40px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link11 {
  display: contents;
}
.index-tik-tok {
  right: 0px;
  width: 40px;
  bottom: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-header {
  width: 100%;
  height: 100%;
  align-self: stretch;
  object-fit: cover;
}
.index-link12 {
  display: contents;
}
.index-pixiv {
  top: 0px;
  right: 0px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link13 {
  display: contents;
}
.index-niconico {
  right: 120px;
  width: 80px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link14 {
  display: contents;
}
.index-soundcloud {
  top: 0px;
  right: 400px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-text {
  left: 0px;
  color: var(--dl-color-gray-white);
  bottom: var(--dl-space-space-threeunits);
  z-index: 100;
  position: absolute;
  font-size: 20px;
  align-self: flex-end;
  letter-spacing: 5px;
}
.index-links {
  left: 0px;
  color: var(--dl-color-gray-white);
  bottom: 0px;
  position: absolute;
}
.index-text02 {
  text-decoration: underline;
}
.index-text04 {
  text-decoration: underline;
}
.index-text06 {
  text-decoration: underline;
}
.index-text08 {
  text-decoration: underline;
}
.index-text10 {
  text-decoration: underline;
}
.index-text12 {
  text-decoration: underline;
}
.index-text14 {
  text-decoration: underline;
}
.index-text16 {
  text-decoration: underline;
}
.index-link23 {
  display: contents;
}
.index-v-rchat {
  right: 80px;
  width: 40px;
  bottom: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-container2 {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.index-link24 {
  display: contents;
}
.index-container3 {
  flex: 0 0 auto;
  width: 34%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/playground_assets/456-600w.png");
  background-position: left;
}
.index-text17 {
  color: #ffffff;
  font-size: 45px;
  background-color: #6e91a4;
}
.index-link25 {
  display: contents;
}
.index-container4 {
  flex: 0 0 auto;
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/playground_assets/ensguzhu4aac70a-500w.jpg");
  background-position: center;
}
.index-text18 {
  color: #ffffff;
  font-size: 45px;
  background-color: #878260;
}
.index-link26 {
  display: contents;
}
.index-container5 {
  flex: 0 0 auto;
  width: 33%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/playground_assets/138-500w.png");
  background-position: center;
}
.index-text19 {
  color: #ffffff;
  font-size: 45px;
  background-color: #71405b;
}
.index-text20 {
  color: var(--dl-color-gray-white);
  align-self: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-1);
}
.index-history {
  top: 1px;
  left: 0px;
  align-self: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-2);
}
.index-text24 {
  text-decoration: underline;
}
.index-text29 {
  text-decoration: underline;
}
.index-cont1 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.index-cont2 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .index-head-container {
    width: 100%;
    height: 172px;
  }
  .index-youtube {
    right: 200px;
    bottom: 0px;
  }
  .index-spotify {
    right: 380px;
  }
  .index-title {
    top: 80px;
    left: 0px;
    position: absolute;
    font-size: 50px;
    align-self: center;
  }
  .index-kakuyomu {
    top: 0px;
    left: 300px;
    width: 48px;
    position: absolute;
  }
  .index-instagram {
    width: 40px;
  }
  .index-mstdn {
    width: 40px;
  }
  .index-tik-tok {
    right: 80px;
    bottom: 0px;
  }
  .index-header {
    width: 990px;
    position: static;
    align-self: stretch;
  }
  .index-soundcloud {
    right: 280px;
  }
  .index-text {
    left: 0px;
    bottom: 20px;
    margin: auto;
    position: absolute;
  }
  .index-links {
    left: 0px;
    width: 600px;
    bottom: 0px;
    position: absolute;
    font-size: 12px;
    background-color: transparent;
  }
  .index-v-rchat {
    right: 80px;
    bottom: 80px;
    position: absolute;
  }
  .index-container1 {
    top: 170px;
  }
}
@media(max-width: 767px) {
  .index-head-container {
    width: 100%;
  }
  .index-twitter {
    width: 48px;
  }
  .index-youtube {
    top: 0px;
    right: 120px;
    width: 40px;
    bottom: 0px;
  }
  .index-unicodepod {
    top: 0px;
    left: 120px;
    width: 36px;
  }
  .index-spotify {
    top: 80px;
    left: 569px;
    width: 36px;
    bottom: 0px;
  }
  .index-title {
    top: 60px;
    color: var(--dl-color-gray-white);
  }
  .index-tumblr {
    top: 80px;
    bottom: 0px;
  }
  .index-botseikatu {
    left: 84px;
    width: 36px;
  }
  .index-kakuyomu {
    top: 0px;
    left: 300px;
    width: 48px;
    position: absolute;
  }
  .index-instagram {
    width: 40px;
  }
  .index-git-hub {
    top: 40px;
    bottom: 0px;
  }
  .index-mstdn {
    left: 430px;
    width: 40px;
  }
  .index-tik-tok {
    top: 120px;
    bottom: 0px;
  }
  .index-header {
    bottom: 0px;
    position: 0px;
  }
  .index-niconico {
    top: 0px;
    right: 80px;
    width: 40px;
    bottom: 0px;
  }
  .index-soundcloud {
    right: 160px;
  }
  .index-text {
    color: var(--dl-color-gray-white);
    bottom: 30px;
  }
  .index-links {
    font-size: 15px;
  }
  .index-v-rchat {
    top: 80px;
    width: 40px;
    bottom: 0px;
  }
}
@media(max-width: 479px) {
  .index-head-container {
    width: 100%;
    height: 160px;
  }
  .index-twitter {
    top: 0px;
    left: 0px;
    width: 48px;
    position: absolute;
  }
  .index-youtube {
    top: 0px;
    right: 48px;
    width: 24px;
    bottom: 0px;
  }
  .index-unicodepod {
    top: 0px;
    left: 72px;
    right: 0px;
    width: 36px;
  }
  .index-spotify {
    top: 36px;
    left: 84px;
    width: 24px;
  }
  .index-title {
    top: 56px;
    left: 0px;
    position: absolute;
    font-size: 40px;
    letter-spacing: 20px;
    text-transform: uppercase;
  }
  .index-tumblr {
    top: 108px;
    right: 0px;
    width: 48px;
    position: absolute;
  }
  .index-botseikatu {
    top: 0px;
    left: 48px;
    width: 24px;
    position: absolute;
  }
  .index-kakuyomu {
    top: 0px;
    left: 108px;
    width: 48px;
  }
  .index-instagram {
    top: 0px;
    right: 108px;
    width: 24px;
    position: absolute;
  }
  .index-git-hub {
    top: 48px;
    right: 48px;
    width: 24px;
    position: absolute;
  }
  .index-mstdn {
    top: 0px;
    left: 156px;
    width: 24px;
    position: absolute;
  }
  .index-discord {
    top: 24px;
    left: 156px;
    width: 24px;
  }
  .index-tik-tok {
    top: 84px;
    right: 0px;
    width: 24px;
    bottom: 0px;
  }
  .index-header {
    width: 100%;
    height: 100%;
    align-self: center;
  }
  .index-pixiv {
    right: 0px;
    width: 48px;
    bottom: 0px;
    position: absolute;
  }
  .index-niconico {
    top: 72px;
    right: 48px;
    width: 36px;
    position: absolute;
  }
  .index-soundcloud {
    top: 24px;
    right: 72px;
    width: 36px;
    position: absolute;
  }
  .index-text {
    bottom: 10px;
    font-size: 15px;
    align-self: center;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .index-links {
    color: var(--dl-color-gray-white);
    width: 350px;
    font-size: 13px;
    align-self: flex-start;
    text-align: left;
  }
  .index-v-rchat {
    top: 48px;
    right: 12px;
    width: 36px;
    position: absolute;
  }
  .index-container1 {
    height: auto;
  }
  .index-container2 {
    height: 80px;
  }
  .index-text17 {
    font-size: 20px;
  }
  .index-text18 {
    font-size: 20px;
  }
  .index-text19 {
    font-size: 20px;
  }
  .index-text20 {
    font-size: 12px;
    text-align: justify;
    padding-top: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-1);
  }
  .index-history {
    margin: 0px;
    font-size: 10px;
    align-self: stretch;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #d2ccad;
  }
  .index-cont1 {
    height: auto;
    border-width: 0px;
  }
  .index-cont2 {
    height: 500px;
    border-width: 0px;
  }
}
