.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: disc;
  background-color: #d8d8d8;
  list-style-image: none;
  list-style-position: outside;
}
.index-container2 {
  top: 250px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 76px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.index-history {
  top: 0px;
  left: 0px;
  position: absolute;
}
.index-text03 {
  text-decoration: underline;
}
.index-container3 {
  top: 322px;
  left: 0px;
  width: 724px;
  height: 281px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}
.index-introduction {
  font-size: 20px;
  font-family: Arial;
}
.index-text10 {
  text-decoration: underline;
}
.index-text12 {
  text-decoration: underline;
}
.index-text14 {
  text-decoration: underline;
}
.index-text16 {
  text-decoration: underline;
}
.index-head-container {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 250px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
}
.index-link05 {
  display: contents;
}
.index-twitter {
  top: 0px;
  left: 0px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link06 {
  display: contents;
}
.index-youtube {
  top: 0px;
  right: 200px;
  width: 40px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link07 {
  display: contents;
}
.index-unicodepod {
  top: 0px;
  left: 120px;
  width: 40px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link08 {
  display: contents;
}
.index-spotify {
  right: 300px;
  width: 40px;
  bottom: 0px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-title {
  top: 85px;
  left: 0px;
  color: #ffffff;
  z-index: 100;
  position: absolute;
  font-size: 70px;
  align-self: flex-start;
  letter-spacing: 40px;
}
.index-link09 {
  display: contents;
}
.index-tumblr {
  right: 0px;
  width: 80px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link10 {
  display: contents;
}
.index-image {
  top: 0px;
  left: 80px;
  width: 40px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-header {
  width: 100%;
  height: 100%;
  align-self: stretch;
  object-fit: cover;
}
.index-image1 {
  top: 0px;
  right: 0px;
  width: 80px;
  position: absolute;
  object-fit: cover;
}
.index-text19 {
  left: 0px;
  color: #ffffff;
  bottom: var(--dl-space-space-threeunits);
  z-index: 100;
  position: absolute;
  font-size: 20px;
  align-self: flex-end;
  letter-spacing: 5px;
}
.index-link11 {
  display: contents;
}
.index-instagram {
  top: 0px;
  right: 120px;
  width: 40px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link12 {
  display: contents;
}
.index-git-hub {
  right: 120px;
  width: 40px;
  bottom: 40px;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  text-decoration: none;
}
.index-link13 {
  display: contents;
}
.index-niconico {
  right: 80px;
  width: 40px;
  bottom: 0px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link14 {
  display: contents;
}
.index-v-rchat {
  right: 80px;
  width: 40px;
  bottom: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index-link15 {
  display: contents;
}
.index-pixiv {
  right: 400px;
  width: var(--dl-size-size-large);
  bottom: 0px;
  z-index: 100;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .index-container2 {
    top: 170px;
  }
  .index-history {
    top: 0px;
    left: 0px;
    position: absolute;
  }
  .index-container3 {
    top: 245px;
    left: 0px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .index-head-container {
    width: 990px;
    height: 172px;
  }
  .index-youtube {
    right: 200px;
    bottom: 0px;
  }
  .index-spotify {
    right: 380px;
  }
  .index-title {
    top: 46px;
    left: 0px;
    position: absolute;
    align-self: center;
  }
  .index-header {
    width: 990px;
    position: static;
    align-self: stretch;
  }
  .index-image1 {
    right: 280px;
  }
  .index-text19 {
    left: 0px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
  .index-v-rchat {
    right: 80px;
    bottom: 80px;
    position: absolute;
  }
  .index-pixiv {
    right: 300px;
    width: 80px;
    bottom: 0px;
  }
}
@media(max-width: 767px) {
  .index-head-container {
    width: 100%;
  }
  .index-twitter {
    width: 48px;
  }
  .index-youtube {
    top: 0px;
    right: 280px;
    width: 36px;
  }
  .index-unicodepod {
    top: 0px;
    left: 120px;
    width: 36px;
  }
  .index-spotify {
    left: 569px;
    width: 36px;
    bottom: 54px;
  }
  .index-tumblr {
    top: 0px;
    bottom: 0px;
  }
  .index-image {
    left: 84px;
    width: 36px;
  }
  .index-header {
    bottom: 0px;
    position: 0px;
  }
  .index-image1 {
    right: 200px;
  }
  .index-instagram {
    top: 0px;
    left: 566px;
  }
  .index-git-hub {
    top: 40px;
    left: 606px;
    width: 40px;
  }
  .index-niconico {
    left: 606px;
    width: 40px;
    bottom: 12px;
  }
  .index-v-rchat {
    top: 80px;
    width: 40px;
    bottom: 0px;
  }
  .index-pixiv {
    top: 80px;
    right: 0px;
  }
}
@media(max-width: 479px) {
  .index-container2 {
    top: 158px;
    left: 0px;
    width: 100%;
    height: 45px;
    position: absolute;
    justify-content: flex-start;
  }
  .index-history {
    font-size: 10px;
  }
  .index-container3 {
    top: 214px;
    left: 0px;
    width: 100%;
  }
  .index-head-container {
    width: 100%;
    height: 160px;
  }
  .index-twitter {
    top: 0px;
    left: 0px;
    width: 48px;
    position: absolute;
  }
  .index-youtube {
    top: 36px;
    left: 0p;
    right: 180px;
    width: 24px;
    bottom: 0px;
  }
  .index-unicodepod {
    top: 0px;
    left: 72px;
    right: 0px;
    width: 36px;
  }
  .index-spotify {
    top: 0px;
    left: 144px;
    right: 0px;
    width: 24px;
    bottom: 0px;
  }
  .index-title {
    top: 56px;
    left: 0px;
    position: absolute;
    font-size: 40px;
    letter-spacing: 20px;
    text-transform: uppercase;
  }
  .index-tumblr {
    top: 0px;
    right: 0px;
    width: 48px;
    position: absolute;
  }
  .index-image {
    top: 0px;
    left: 48px;
    width: 24px;
    position: absolute;
  }
  .index-header {
    width: 100%;
    height: 100%;
    align-self: center;
  }
  .index-image1 {
    top: 0px;
    right: 144px;
    width: 36px;
    position: absolute;
  }
  .index-text19 {
    font-size: 15px;
    align-self: center;
  }
  .index-instagram {
    top: 0px;
    right: 84px;
    width: 24px;
  }
  .index-git-hub {
    top: 72px;
    right: 96px;
    width: 24px;
    z-index: 100;
  }
  .index-niconico {
    top: 132px;
    right: 120px;
    width: 24px;
  }
  .index-v-rchat {
    top: 96px;
    right: 144px;
    width: 36px;
    bottom: 0px;
  }
  .index-pixiv {
    width: 48px;
    bottom: 0px;
    margin: auto;
    position: absolute;
  }
}
