.index1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  flex-direction: column;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.index1-head-container {
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/500.png');
  background-repeat: repeat;
  background-position: left;
}
.index1-title-con {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.index1-title {
  color: var(--dl-color-gray-white);
  z-index: 100;
  font-size: 70px;
  align-self: center;
  letter-spacing: 40px;
}
.index1-subtitle {
  color: var(--dl-color-gray-white);
  z-index: 100;
  font-size: 20px;
  letter-spacing: 5px;
}
.index1-under-con {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.index1-link {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index1-link01 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index1-link02 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index1-link03 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index1-link04 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index1-link05 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index1-link06 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index1-link07 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index1-link08 {
  display: contents;
}
.index1-twitter {
  top: 0px;
  left: 0px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link09 {
  display: contents;
}
.index1-twitter1 {
  top: 0px;
  left: 100px;
  width: 4px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link10 {
  display: contents;
}
.index1-youtube {
  top: 0px;
  right: 200px;
  width: 40px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link11 {
  display: contents;
}
.index1-unicodepod {
  top: 0px;
  left: 200px;
  width: 40px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link12 {
  display: contents;
}
.index1-spotify {
  right: 280px;
  width: 40px;
  bottom: 0px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link13 {
  display: contents;
}
.index1-keybase {
  right: 320px;
  width: 40px;
  bottom: 40px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link14 {
  display: contents;
}
.index1-tumblr {
  right: 0px;
  width: 80px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link15 {
  display: contents;
}
.index1-botseikatu {
  top: 0px;
  left: 120px;
  width: 40px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link16 {
  display: contents;
}
.index1-kakuyomu {
  top: 0px;
  left: 300px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link17 {
  display: contents;
}
.index1-instagram {
  top: 0px;
  right: 240px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link18 {
  display: contents;
}
.index1-git-hub {
  right: 120px;
  width: 40px;
  bottom: 120px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link19 {
  display: contents;
}
.index1-mstdn {
  top: 0px;
  left: 420px;
  width: 40px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link20 {
  display: contents;
}
.index1-misskey {
  right: 160px;
  width: 80px;
  bottom: 120px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link21 {
  display: contents;
}
.index1-discord {
  top: 0px;
  left: 380px;
  width: 40px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link22 {
  display: contents;
}
.index1-tik-tok {
  right: 0px;
  width: 40px;
  bottom: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link23 {
  display: contents;
}
.index1-pixiv {
  top: 0px;
  right: 0px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link24 {
  display: contents;
}
.index1-niconico {
  right: 120px;
  width: 80px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link25 {
  display: contents;
}
.index1-soundcloud {
  top: 0px;
  right: 400px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-link26 {
  display: contents;
}
.index1-v-rchat {
  right: 80px;
  width: 40px;
  bottom: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index1-buttoncon {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.index1-button {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index1-text01 {
  color: var(--dl-color-gray-500);
}
.index1-button01 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index1-text02 {
  color: var(--dl-color-gray-500);
}
.index1-button02 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index1-text04 {
  color: var(--dl-color-gray-500);
}
.index1-button03 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index1-text05 {
  color: var(--dl-color-gray-500);
}
.index1-button04 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index1-text06 {
  color: var(--dl-color-gray-500);
}
.index1-button05 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index1-text07 {
  color: var(--dl-color-gray-500);
}
.index1-button06 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index1-text08 {
  color: var(--dl-color-gray-500);
}
.index1-button07 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index1-text10 {
  color: var(--dl-color-gray-500);
}
.index1-intro {
  color: var(--dl-color-gray-black);
  align-self: stretch;
  background-color: var(--dl-color-gray-white);
}
.index1-history {
  top: 1px;
  left: 0px;
  color: var(--dl-color-gray-black);
  align-self: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-900);
}
.index1-text14 {
  text-decoration: underline;
}
.index1-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-21);
}
.index1-text20 {
  color: var(--dl-color-gray-white);
  align-self: flex-start;
}
.index1-ycon {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.index1-link28 {
  display: contents;
}
.index1-gallery-card {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index1-container02 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/logo.png');
}
.index1-text21 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index1-text23 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index1-link29 {
  display: contents;
}
.index1-gallery-card1 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index1-container03 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/logo.png');
}
.index1-text24 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index1-text26 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index1-link30 {
  display: contents;
}
.index1-gallery-card2 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index1-container04 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/456.png');
}
.index1-text27 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index1-text28 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index1-link31 {
  display: contents;
}
.index1-gallery-card3 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index1-container05 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/242.png');
}
.index1-text29 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index1-text31 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index1-link32 {
  display: contents;
}
.index1-gallery-card4 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index1-container06 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/Photo/1.png');
  background-position: center;
}
.index1-text32 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index1-text35 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index1-link33 {
  display: contents;
}
.index1-gallery-card5 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index1-container07 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/VRchat%E3%81%A6%E3%82%99%E4%BD%9C%E3%81%A3%209a0ad/Untitled.png');
  background-position: center;
}
.index1-text36 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index1-text38 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index1-link34 {
  display: contents;
}
.index1-gallery-card6 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index1-container08 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/assets/3.png');
  background-position: center;
}
.index1-text40 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index1-text42 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index1-link35 {
  display: contents;
}
.index1-gallery-card7 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index1-container09 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/assets/2.png');
  background-position: center;
}
.index1-text44 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index1-text46 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index1-link36 {
  display: contents;
}
.index1-gallery-card8 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index1-container10 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/logo.png');
  background-position: center;
}
.index1-text48 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index1-text49 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index1-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-21);
}
.index1-text51 {
  color: var(--dl-color-gray-white);
}
.index1-text53 {
  color: var(--dl-color-gray-white);
}
.index1-container12 {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.index1-image {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index1-image1 {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index1-image2 {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index1-link37 {
  border-width: 0px;
  text-decoration: none;
}
.index1-container13 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-21);
}
.index1-text57 {
  color: var(--dl-color-gray-white);
}
.index1-container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index1-image3 {
  width: 400px;
  align-self: flex-start;
  object-fit: cover;
}
.index1-container15 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-21);
}
.index1-text60 {
  color: var(--dl-color-gray-white);
}
.index1-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.index1-button08 {
  color: transparent;
  margin: var(--dl-space-space-unit);
  font-size: 20px;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index1-text61 {
  color: var(--dl-color-primary-text);
}
.index1-button09 {
  color: transparent;
  margin: var(--dl-space-space-unit);
  font-size: 20px;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index1-text62 {
  color: var(--dl-color-primary-text);
}
.index1-button10 {
  color: transparent;
  margin: var(--dl-space-space-unit);
  font-size: 20px;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index1-text63 {
  color: var(--dl-color-primary-text);
}
.index1-button11 {
  color: transparent;
  margin: var(--dl-space-space-unit);
  font-size: 20px;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index1-text64 {
  color: var(--dl-color-primary-text);
}
@media(max-width: 991px) {
  .index1-container {
    background-color: var(--dl-color-gray-white);
  }
  .index1-head-container {
    width: 100%;
    height: 250px;
    background-image: url('https://mikanixonable.github.io/500.png');
  }
  .index1-title-con {
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
  }
  .index1-title {
    font-size: 50px;
    align-self: center;
  }
  .index1-youtube {
    right: 200px;
    bottom: 0px;
  }
  .index1-spotify {
    right: 380px;
  }
  .index1-keybase {
    right: 380px;
  }
  .index1-kakuyomu {
    top: 0px;
    left: 300px;
    width: 48px;
    position: absolute;
  }
  .index1-instagram {
    width: 40px;
  }
  .index1-mstdn {
    width: 40px;
  }
  .index1-misskey {
    width: 40px;
  }
  .index1-tik-tok {
    right: 80px;
    bottom: 0px;
  }
  .index1-soundcloud {
    right: 280px;
  }
  .index1-v-rchat {
    right: 80px;
    bottom: 80px;
    position: absolute;
  }
}
@media(max-width: 767px) {
  .index1-container {
    background-color: var(--dl-color-gray-white);
  }
  .index1-head-container {
    width: 100%;
    background-image: url('https://mikanixonable.github.io/500.png');
  }
  .index1-title {
    top: 100px;
    color: var(--dl-color-gray-white);
    font-size: 40px;
    letter-spacing: 20px;
    background-color: transparent;
  }
  .index1-subtitle {
    color: var(--dl-color-gray-white);
    bottom: 30px;
    background-color: transparent;
  }
  .index1-twitter {
    width: 48px;
  }
  .index1-twitter1 {
    left: 60px;
    width: 4px;
  }
  .index1-youtube {
    top: 0px;
    right: 120px;
    width: 40px;
    bottom: 0px;
  }
  .index1-unicodepod {
    top: 0px;
    left: 120px;
    width: 36px;
  }
  .index1-spotify {
    right: 80px;
    width: 36px;
    bottom: 0px;
  }
  .index1-keybase {
    right: 115px;
    width: 36px;
    bottom: 0px;
  }
  .index1-tumblr {
    top: 80px;
    bottom: 0px;
  }
  .index1-botseikatu {
    left: 84px;
    width: 36px;
  }
  .index1-kakuyomu {
    top: 0px;
    left: 300px;
    width: 48px;
    position: absolute;
  }
  .index1-instagram {
    width: 40px;
  }
  .index1-git-hub {
    top: 40px;
    bottom: 0px;
  }
  .index1-mstdn {
    top: 40px;
    left: 348px;
    width: 40px;
  }
  .index1-misskey {
    top: 40px;
    right: 80px;
    width: 40px;
    bottom: 0px;
  }
  .index1-discord {
    left: 348px;
  }
  .index1-tik-tok {
    top: 120px;
    bottom: 0px;
  }
  .index1-niconico {
    top: 0px;
    right: 80px;
    width: 40px;
    bottom: 0px;
  }
  .index1-soundcloud {
    right: 160px;
  }
  .index1-v-rchat {
    top: 80px;
    width: 40px;
    bottom: 0px;
  }
  .index1-gallery-card {
    height: 200px;
    flex-direction: column;
  }
  .index1-container02 {
    height: 70%;
  }
  .index1-gallery-card1 {
    height: 200px;
    flex-direction: column;
  }
  .index1-container03 {
    height: 70%;
  }
  .index1-gallery-card2 {
    height: 200px;
    flex-direction: column;
  }
  .index1-container04 {
    height: 70%;
  }
  .index1-gallery-card3 {
    height: 200px;
    flex-direction: column;
  }
  .index1-container05 {
    height: 70%;
  }
  .index1-gallery-card4 {
    height: 200px;
    flex-direction: column;
  }
  .index1-container06 {
    height: 70%;
  }
  .index1-gallery-card5 {
    height: 200px;
    flex-direction: column;
  }
  .index1-container07 {
    height: 70%;
  }
  .index1-gallery-card6 {
    height: 200px;
    flex-direction: column;
  }
  .index1-container08 {
    height: 70%;
  }
  .index1-gallery-card7 {
    height: 200px;
    flex-direction: column;
  }
  .index1-container09 {
    height: 70%;
  }
  .index1-gallery-card8 {
    height: 200px;
    flex-direction: column;
  }
  .index1-container10 {
    height: 70%;
  }
}
@media(max-width: 479px) {
  .index1-container {
    background-color: transparent;
  }
  .index1-head-container {
    width: 100%;
    height: 250px;
    background-image: url('https://mikanixonable.github.io/500.png');
  }
  .index1-title-con {
    flex-wrap: wrap;
    align-self: flex-end;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .index1-title {
    top: 0px;
    left: 0px;
    color: var(--dl-color-gray-white);
    bottom: 0px;
    position: static;
    font-size: 40px;
    align-self: center;
    text-align: left;
    letter-spacing: 20px;
    text-transform: uppercase;
  }
  .index1-subtitle {
    color: var(--dl-color-gray-white);
    bottom: 10px;
    margin: 0px;
    position: static;
    font-size: 15px;
    align-self: flex-start;
  }
  .index1-link {
    padding: 2px;
    font-size: 12px;
  }
  .index1-link01 {
    padding: 2px;
    font-size: 12px;
  }
  .index1-link02 {
    padding: 2px;
    font-size: 12px;
  }
  .index1-link03 {
    padding: 2px;
    font-size: 12px;
  }
  .index1-link04 {
    padding: 2px;
    font-size: 12px;
  }
  .index1-link05 {
    padding: 2px;
    font-size: 12px;
  }
  .index1-link06 {
    padding: 2px;
    font-size: 12px;
  }
  .index1-link07 {
    padding: 2px;
    font-size: 12px;
  }
  .index1-twitter {
    top: 0px;
    left: 0px;
    width: 48px;
    position: absolute;
  }
  .index1-twitter1 {
    top: 80px;
    left: 0px;
    width: 4px;
    position: absolute;
  }
  .index1-youtube {
    top: 0px;
    right: 48px;
    width: 24px;
    bottom: 0px;
  }
  .index1-unicodepod {
    top: 0px;
    left: 72px;
    right: 0px;
    width: 36px;
  }
  .index1-spotify {
    top: 36px;
    left: 84px;
    width: 24px;
  }
  .index1-keybase {
    top: 48px;
    left: 48px;
    width: 24px;
  }
  .index1-tumblr {
    top: 108px;
    right: 0px;
    width: 48px;
    position: absolute;
  }
  .index1-botseikatu {
    top: 0px;
    left: 48px;
    width: 24px;
    position: absolute;
  }
  .index1-kakuyomu {
    top: 0px;
    left: 108px;
    width: 48px;
  }
  .index1-instagram {
    top: 0px;
    right: 108px;
    width: 24px;
    position: absolute;
  }
  .index1-git-hub {
    top: 48px;
    right: 48px;
    width: 24px;
    position: absolute;
  }
  .index1-mstdn {
    top: 0px;
    left: 156px;
    width: 24px;
    position: absolute;
  }
  .index1-misskey {
    top: 0px;
    left: 156px;
    width: 24px;
    position: absolute;
  }
  .index1-discord {
    top: 24px;
    left: 156px;
    width: 24px;
  }
  .index1-tik-tok {
    top: 84px;
    right: 0px;
    width: 24px;
    bottom: 0px;
  }
  .index1-pixiv {
    right: 0px;
    width: 48px;
    bottom: 0px;
    position: absolute;
  }
  .index1-niconico {
    top: 72px;
    right: 48px;
    width: 36px;
    position: absolute;
  }
  .index1-soundcloud {
    top: 24px;
    right: 72px;
    width: 36px;
    position: absolute;
  }
  .index1-v-rchat {
    top: 48px;
    right: 12px;
    width: 36px;
    position: absolute;
  }
  .index1-buttoncon {
    height: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .index1-intro {
    color: var(--dl-color-gray-black);
    font-size: 10px;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    padding-top: 0px;
    margin-bottom: var(--dl-space-space-unit);
    padding-bottom: 0px;
    background-color: var(--dl-color-gray-900);
  }
  .index1-history {
    font-size: 10px;
    align-self: stretch;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: var(--dl-color-gray-900);
  }
  .index1-container01 {
    width: 95%;
    margin: var(--dl-space-space-unit);
    padding: var(--dl-space-space-unit);
    position: relative;
    align-self: center;
    background-color: var(--dl-color-primary-21);
  }
  .index1-text20 {
    align-self: flex-start;
  }
  .index1-ycon {
    width: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .index1-gallery-card {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-container02 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index1-text21 {
    font-size: 1rem;
  }
  .index1-text23 {
    font-size: 12px;
  }
  .index1-gallery-card1 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-container03 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index1-text24 {
    font-size: 1rem;
  }
  .index1-text26 {
    font-size: 12px;
  }
  .index1-gallery-card2 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-container04 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index1-text27 {
    font-size: 1rem;
  }
  .index1-text28 {
    font-size: 12px;
  }
  .index1-gallery-card3 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-container05 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index1-text29 {
    font-size: 1rem;
  }
  .index1-text31 {
    font-size: 12px;
  }
  .index1-gallery-card4 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-container06 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index1-text32 {
    font-size: 1rem;
  }
  .index1-text35 {
    font-size: 12px;
  }
  .index1-gallery-card5 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-container07 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index1-text36 {
    font-size: 1rem;
  }
  .index1-text38 {
    font-size: 12px;
  }
  .index1-gallery-card6 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-container08 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index1-text40 {
    font-size: 1rem;
  }
  .index1-text42 {
    font-size: 12px;
  }
  .index1-gallery-card7 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-container09 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index1-text44 {
    font-size: 1rem;
  }
  .index1-text46 {
    font-size: 12px;
  }
  .index1-gallery-card8 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index1-container10 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index1-text48 {
    font-size: 1rem;
  }
  .index1-text49 {
    font-size: 12px;
  }
  .index1-container11 {
    width: 95%;
    align-self: center;
  }
  .index1-container12 {
    position: relative;
    align-self: center;
    flex-direction: column;
  }
  .index1-link37 {
    color: #ffffff;
    width: auto;
    height: auto;
    margin: var(--dl-space-space-halfunit);
    padding: var(--dl-space-space-halfunit);
    position: relative;
    align-self: center;
    border-width: 0px;
    border-radius: 0px;
    background-color: #5FC0C2;
  }
  .index1-text54 {
    text-align: center;
  }
  .index1-container13 {
    width: 95%;
    flex-wrap: wrap;
    align-self: center;
  }
  .index1-container14 {
    padding: var(--dl-space-space-unit);
    position: relative;
  }
  .index1-image3 {
    width: var(--dl-size-size-xlarge);
    height: auto;
  }
  .index1-text59 {
    color: var(--dl-color-primary-text);
    width: 100%;
  }
  .index1-container15 {
    width: 95%;
    height: auto;
    align-self: center;
    flex-direction: column;
  }
  .index1-text60 {
    width: auto;
    align-self: flex-start;
  }
  .index1-container16 {
    height: auto;
    align-self: flex-start;
    flex-direction: column;
  }
}
