.page6-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page6-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
}
.page6-container02 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  background-color: #2f2f2f;
}
.page6-container03 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-gray-900);
}
.page6-container04 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  background-color: #2f2f2f;
}
.page6-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-primary-100);
}
.page6-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-primary-300);
}
.page6-container07 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.page6-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-primary-500);
}
.page6-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-primary-700);
}
.page6-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: var(--dl-color-primary-21);
}
.page6-container11 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #9aa472;
}
.page6-container12 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.page6-container13 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #9aa472;
}
.page6-container14 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.page6-container15 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #9aa472;
}
.page6-container16 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.page6-container17 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #9aa472;
}
.page6-container18 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.page6-container19 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #9aa472;
}
.page6-container20 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.page6-container21 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #9aa472;
}
.page6-container22 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.page6-container23 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #9aa472;
}
.page6-container24 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.page6-container25 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #9aa472;
}
.page6-container26 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.page6-container27 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #9aa472;
}
.page6-container28 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.page6-container29 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #9aa472;
}
.page6-container30 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.page6-container31 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #9aa472;
}
.page6-container32 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.page6-container33 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #9aa472;
}
.page6-container34 {
  flex: 0 0 auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.page6-container35 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #9aa472;
}
@media(max-width: 479px) {
  .page6-container01 {
    flex-wrap: wrap;
  }
  .page6-container06 {
    height: auto;
    flex-wrap: wrap;
  }
  .page6-container07 {
    width: 50px;
    height: 50px;
    margin: var(--dl-space-space-threeunits);
    border-width: 0px;
    border-radius: var(--dl-radius-radius-round);
    background-color: #D9D9D9;
  }
}
