.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-100);
}
.page-n1 {
  width: auto;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.page-image {
  height: 600px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-text {
  color: #ffffff;
  font-size: 50px;
  font-style: normal;
  font-weight: 200;
}
.page-n101 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #c5ced4;
}
.page-image01 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page-link {
  color: var(--dl-color-primary-text);
  right: 0px;
  bottom: 0px;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  font-size: 40px;
  align-self: flex-end;
  background-color: #987f78;
}
.page-n102 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #c5ced4;
}
.page-image02 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page-link1 {
  color: var(--dl-color-primary-text);
  right: 0px;
  bottom: 0px;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  font-size: 40px;
  align-self: flex-end;
  background-color: #6698b7;
}
.page-n103 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #c5ced4;
}
.page-image03 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page-n104 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #c5ced4;
}
.page-image04 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page-n105 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #c5ced4;
}
.page-image05 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page-n106 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image06 {
  height: 600px;
  margin: var(--dl-space-space-threeunits);
  align-self: center;
  object-fit: cover;
}
.page-image07 {
  height: 600px;
  margin: var(--dl-space-space-threeunits);
  align-self: center;
  object-fit: cover;
}
.page-n107 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image08 {
  height: 600px;
  margin: var(--dl-space-space-threeunits);
  align-self: center;
  object-fit: cover;
}
.page-n108 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #d5e3e6;
}
.page-image09 {
  height: 800px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n109 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #b9b2b2;
}
.page-image10 {
  height: 800px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n110 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #dcb3bc;
}
.page-image11 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n111 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image12 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n112 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image13 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n113 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image14 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n114 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  padding-top: 456px;
  justify-content: flex-end;
}
.page-image15 {
  height: 400px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page-n115 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image16 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n116 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image17 {
  width: 200px;
  height: auto;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-image18 {
  width: 200px;
  height: auto;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-image19 {
  width: 200px;
  height: auto;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-image20 {
  width: 200px;
  height: auto;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-image21 {
  width: 200px;
  height: auto;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n117 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image22 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n118 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image23 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n119 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image24 {
  height: 700px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-image25 {
  height: 700px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n120 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image26 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n121 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #b7b458;
}
.page-image27 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n122 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image28 {
  height: 600px;
  margin: var(--dl-space-space-sixunits);
  align-self: center;
  object-fit: cover;
}
.page-n123 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image29 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-image30 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n124 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image31 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-image32 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n125 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-image33 {
  width: 600px;
  height: auto;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page-image34 {
  width: 600px;
  height: auto;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page-n126 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image35 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n127 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image36 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n128 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image37 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n129 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image38 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n130 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image39 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n131 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image40 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n132 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
}
.page-image41 {
  height: 900px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n133 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #bae2e4;
}
.page-image42 {
  height: 900px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page-image43 {
  height: 900px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page-image44 {
  height: 900px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page-n134 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-700);
}
.page-image45 {
  height: 400px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-n135 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-700);
}
.page-image46 {
  height: 400px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page-container2 {
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-700);
}
.page-link2 {
  color: var(--dl-color-gray-700);
  padding: var(--dl-space-space-unit);
  font-size: 30px;
  font-style: normal;
  font-weight: 100;
  border-color: var(--dl-color-primary-text);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-primary-text);
}
.page-link3 {
  display: contents;
}
.page-image47 {
  left: 0px;
  right: 0px;
  width: 100px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 479px) {
  .page-n1 {
    height: auto;
  }
  .page-image {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n101 {
    height: auto;
    background-color: transparent;
  }
  .page-image01 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n102 {
    height: auto;
    background-color: transparent;
  }
  .page-image02 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n103 {
    height: auto;
    background-color: transparent;
  }
  .page-image03 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n104 {
    height: auto;
    background-color: transparent;
  }
  .page-image04 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n105 {
    height: auto;
    background-color: transparent;
  }
  .page-image05 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n106 {
    height: auto;
  }
  .page-image06 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-image07 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n107 {
    height: auto;
  }
  .page-image08 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n108 {
    height: auto;
    background-color: transparent;
  }
  .page-image09 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n109 {
    height: auto;
    background-color: transparent;
  }
  .page-image10 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n110 {
    height: auto;
  }
  .page-image11 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n111 {
    height: auto;
  }
  .page-image12 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n112 {
    height: auto;
  }
  .page-image13 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n113 {
    height: auto;
  }
  .page-image14 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n114 {
    height: auto;
  }
  .page-image15 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n115 {
    height: auto;
  }
  .page-image16 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n116 {
    height: auto;
  }
  .page-image17 {
    width: auto;
    height: 150px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-image18 {
    width: auto;
    height: 150px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-image19 {
    width: auto;
    height: 150px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-image20 {
    width: auto;
    height: 150px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-image21 {
    width: auto;
    height: 150px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n117 {
    height: auto;
  }
  .page-image22 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n118 {
    height: auto;
  }
  .page-image23 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n119 {
    height: auto;
  }
  .page-image24 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-image25 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n120 {
    height: auto;
  }
  .page-image26 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n121 {
    height: auto;
  }
  .page-image27 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n122 {
    height: auto;
  }
  .page-image28 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n123 {
    height: auto;
  }
  .page-image29 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-image30 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n124 {
    height: auto;
  }
  .page-image31 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-image32 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n125 {
    height: auto;
  }
  .page-image33 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-image34 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n126 {
    height: auto;
  }
  .page-image35 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n127 {
    height: auto;
  }
  .page-image36 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n128 {
    height: auto;
  }
  .page-image37 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n129 {
    height: auto;
  }
  .page-image38 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n130 {
    height: auto;
  }
  .page-image39 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n131 {
    height: auto;
  }
  .page-image40 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n132 {
    height: auto;
  }
  .page-image41 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n133 {
    height: auto;
  }
  .page-image42 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-image43 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-image44 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n134 {
    height: auto;
  }
  .page-image45 {
    width: auto;
    height: 250px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-n135 {
    height: auto;
  }
  .page-image46 {
    width: auto;
    height: 250px;
    margin: var(--dl-space-space-halfunit);
  }
  .page-container2 {
    height: auto;
  }
}
