.app-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.app-page-container01 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.app-page-image {
  height: 600px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-container02 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.app-page-image01 {
  height: 600px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-image02 {
  height: 600px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-container03 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.app-page-image03 {
  height: 600px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-image04 {
  height: 600px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-container04 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.app-page-image05 {
  height: 800px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-container05 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.app-page-image06 {
  height: 800px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-container06 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.app-page-image07 {
  height: 700px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-image08 {
  height: 700px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-container07 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.app-page-image09 {
  height: 700px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-image10 {
  height: 700px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-container08 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.app-page-image11 {
  height: 400px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-image12 {
  height: 400px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-container09 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.app-page-image13 {
  height: 400px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-image14 {
  height: 400px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.app-page-container10 {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-1);
}
.app-page-link {
  display: contents;
}
.app-page-image15 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 479px) {
  .app-page-container01 {
    height: auto;
  }
  .app-page-image {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-container02 {
    height: auto;
  }
  .app-page-image01 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-image02 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-container03 {
    height: auto;
  }
  .app-page-image03 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-image04 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-container04 {
    height: auto;
  }
  .app-page-image05 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-container05 {
    height: auto;
  }
  .app-page-image06 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-container06 {
    height: auto;
  }
  .app-page-image07 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-image08 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-container07 {
    height: auto;
  }
  .app-page-image09 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-image10 {
    width: auto;
    height: 350px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-container08 {
    height: auto;
  }
  .app-page-image11 {
    width: auto;
    height: 250px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-image12 {
    width: auto;
    height: 250px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-container09 {
    height: auto;
  }
  .app-page-image13 {
    width: auto;
    height: 250px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-image14 {
    width: auto;
    height: 250px;
    margin: var(--dl-space-space-halfunit);
  }
  .app-page-container10 {
    height: auto;
  }
}
