.index2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  flex-direction: column;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.index2-head-container {
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-size: cover;
  background-image: url('illusts/500.png');
  background-repeat: repeat;
  background-position: left;
}
.index2-title-con {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.index2-title {
  color: var(--dl-color-gray-white);
  z-index: 100;
  font-size: 70px;
  align-self: center;
  letter-spacing: 40px;
}
.index2-subtitle {
  color: var(--dl-color-gray-white);
  z-index: 100;
  font-size: 20px;
  letter-spacing: 5px;
}
.index2-under-con {
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  bottom: 0px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.index2-link {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index2-link01 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index2-link02 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index2-link03 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index2-link04 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index2-link05 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index2-link06 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index2-link07 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-halfunit);
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.index2-link08 {
  display: contents;
}
.index2-twitter {
  top: 0px;
  left: 0px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link09 {
  display: contents;
}
.index2-twitter1 {
  top: 0px;
  left: 100px;
  width: 4px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link10 {
  display: contents;
}
.index2-youtube {
  top: 0px;
  right: 200px;
  width: 40px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link11 {
  display: contents;
}
.index2-unicodepod {
  top: 0px;
  left: 200px;
  width: 40px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link12 {
  display: contents;
}
.index2-spotify {
  right: 280px;
  width: 40px;
  bottom: 0px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link13 {
  display: contents;
}
.index2-keybase {
  right: 320px;
  width: 40px;
  bottom: 40px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link14 {
  display: contents;
}
.index2-tumblr {
  right: 0px;
  width: 80px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link15 {
  display: contents;
}
.index2-botseikatu {
  top: 0px;
  left: 120px;
  width: 40px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link16 {
  display: contents;
}
.index2-kakuyomu {
  top: 0px;
  left: 300px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link17 {
  display: contents;
}
.index2-instagram {
  top: 0px;
  right: 240px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link18 {
  display: contents;
}
.index2-git-hub {
  right: 120px;
  width: 40px;
  bottom: 120px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link19 {
  display: contents;
}
.index2-mstdn {
  top: 0px;
  left: 420px;
  width: 40px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link20 {
  display: contents;
}
.index2-misskey {
  right: 160px;
  width: 80px;
  bottom: 120px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link21 {
  display: contents;
}
.index2-discord {
  top: 0px;
  left: 380px;
  width: 40px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link22 {
  display: contents;
}
.index2-tik-tok {
  right: 0px;
  width: 40px;
  bottom: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link23 {
  display: contents;
}
.index2-pixiv {
  top: 0px;
  right: 0px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link24 {
  display: contents;
}
.index2-niconico {
  right: 120px;
  width: 80px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link25 {
  display: contents;
}
.index2-soundcloud {
  top: 0px;
  right: 400px;
  width: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-link26 {
  display: contents;
}
.index2-v-rchat {
  right: 80px;
  width: 40px;
  bottom: 80px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.index2-intro {
  color: var(--dl-color-gray-black);
  align-self: stretch;
  background-color: var(--dl-color-gray-900);
}
.index2-history {
  top: 1px;
  left: 0px;
  color: var(--dl-color-gray-black);
  align-self: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-900);
}
.index2-text04 {
  text-decoration: underline;
}
.index2-buttoncon {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.index2-button {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index2-text10 {
  color: var(--dl-color-gray-500);
}
.index2-button01 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index2-text11 {
  color: var(--dl-color-gray-500);
}
.index2-button02 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index2-text13 {
  color: var(--dl-color-gray-500);
}
.index2-button03 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index2-text14 {
  color: var(--dl-color-gray-500);
}
.index2-button04 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index2-text15 {
  color: var(--dl-color-gray-500);
}
.index2-button05 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index2-text16 {
  color: var(--dl-color-gray-500);
}
.index2-button06 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index2-text17 {
  color: var(--dl-color-gray-500);
}
.index2-button07 {
  color: var(--dl-color-gray-500);
  margin: var(--dl-space-space-halfunit);
  padding: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: #ffffff;
}
.index2-text19 {
  color: var(--dl-color-gray-500);
}
.index2-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-21);
}
.index2-text20 {
  color: var(--dl-color-gray-white);
  align-self: flex-start;
}
.index2-ycon {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.index2-link28 {
  display: contents;
}
.index2-gallery-card {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index2-container02 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/logo.png');
}
.index2-text21 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index2-text23 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index2-link29 {
  display: contents;
}
.index2-gallery-card1 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index2-container03 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/logo.png');
}
.index2-text24 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index2-text26 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index2-link30 {
  display: contents;
}
.index2-gallery-card2 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index2-container04 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('illusts/456.png');
}
.index2-text27 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index2-text28 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index2-link31 {
  display: contents;
}
.index2-gallery-card3 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index2-container05 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('illusts/242.png');
}
.index2-text29 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index2-text31 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index2-link32 {
  display: contents;
}
.index2-gallery-card4 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index2-container06 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/Photo/1.png');
  background-position: center;
}
.index2-text32 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index2-text35 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index2-link33 {
  display: contents;
}
.index2-gallery-card5 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index2-container07 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/VRchat%E3%81%A6%E3%82%99%E4%BD%9C%E3%81%A3%209a0ad/Untitled.png');
  background-position: center;
}
.index2-text36 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index2-text38 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index2-link34 {
  display: contents;
}
.index2-gallery-card6 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index2-container08 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/assets/3.png');
  background-position: center;
}
.index2-text40 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index2-text42 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index2-link35 {
  display: contents;
}
.index2-gallery-card7 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index2-container09 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/assets/2.png');
  background-position: center;
}
.index2-text44 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index2-text46 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index2-link36 {
  display: contents;
}
.index2-gallery-card8 {
  height: 300px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index2-container10 {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://mikanixonable.github.io/logo.png');
  background-position: center;
}
.index2-text48 {
  color: var(--dl-color-primary-text);
  height: auto;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.index2-text49 {
  color: var(--dl-color-primary-text);
  align-self: flex-start;
}
.index2-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-21);
}
.index2-text51 {
  color: var(--dl-color-gray-white);
}
.index2-text53 {
  color: var(--dl-color-gray-white);
}
.index2-container12 {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.index2-image {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index2-image1 {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index2-image2 {
  height: 400px;
  margin: var(--dl-space-space-halfunit);
  object-fit: cover;
}
.index2-link37 {
  border-width: 0px;
  text-decoration: none;
}
.index2-container13 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-21);
}
.index2-text57 {
  color: var(--dl-color-gray-white);
}
.index2-container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index2-image3 {
  width: 400px;
  align-self: flex-start;
  object-fit: cover;
}
.index2-container15 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-21);
}
.index2-text60 {
  color: var(--dl-color-gray-white);
}
.index2-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.index2-button08 {
  color: transparent;
  margin: var(--dl-space-space-unit);
  font-size: 20px;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index2-text61 {
  color: var(--dl-color-primary-text);
}
.index2-button09 {
  color: transparent;
  margin: var(--dl-space-space-unit);
  font-size: 20px;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index2-text62 {
  color: var(--dl-color-primary-text);
}
.index2-button10 {
  color: transparent;
  margin: var(--dl-space-space-unit);
  font-size: 20px;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index2-text63 {
  color: var(--dl-color-primary-text);
}
.index2-button11 {
  color: transparent;
  margin: var(--dl-space-space-unit);
  font-size: 20px;
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-primary-1);
}
.index2-text64 {
  color: var(--dl-color-primary-text);
}
@media(max-width: 991px) {
  .index2-container {
    background-color: var(--dl-color-gray-white);
  }
  .index2-head-container {
    width: 100%;
    height: 250px;
    background-image: url('illusts/500.png');
  }
  .index2-title-con {
    align-self: center;
    margin-top: var(--dl-space-space-threeunits);
  }
  .index2-title {
    font-size: 50px;
    align-self: center;
  }
  .index2-youtube {
    right: 200px;
    bottom: 0px;
  }
  .index2-spotify {
    right: 380px;
  }
  .index2-keybase {
    right: 380px;
  }
  .index2-kakuyomu {
    top: 0px;
    left: 300px;
    width: 48px;
    position: absolute;
  }
  .index2-instagram {
    width: 40px;
  }
  .index2-mstdn {
    width: 40px;
  }
  .index2-misskey {
    width: 40px;
  }
  .index2-tik-tok {
    right: 80px;
    bottom: 0px;
  }
  .index2-soundcloud {
    right: 280px;
  }
  .index2-v-rchat {
    right: 80px;
    bottom: 80px;
    position: absolute;
  }
}
@media(max-width: 767px) {
  .index2-container {
    background-color: var(--dl-color-gray-white);
  }
  .index2-head-container {
    width: 100%;
    background-image: url('illusts/500.png');
  }
  .index2-title {
    top: 100px;
    color: var(--dl-color-gray-white);
    font-size: 40px;
    letter-spacing: 20px;
    background-color: transparent;
  }
  .index2-subtitle {
    color: var(--dl-color-gray-white);
    bottom: 30px;
    background-color: transparent;
  }
  .index2-twitter {
    width: 48px;
  }
  .index2-twitter1 {
    left: 60px;
    width: 4px;
  }
  .index2-youtube {
    top: 0px;
    right: 120px;
    width: 40px;
    bottom: 0px;
  }
  .index2-unicodepod {
    top: 0px;
    left: 120px;
    width: 36px;
  }
  .index2-spotify {
    right: 80px;
    width: 36px;
    bottom: 0px;
  }
  .index2-keybase {
    right: 115px;
    width: 36px;
    bottom: 0px;
  }
  .index2-tumblr {
    top: 80px;
    bottom: 0px;
  }
  .index2-botseikatu {
    left: 84px;
    width: 36px;
  }
  .index2-kakuyomu {
    top: 0px;
    left: 300px;
    width: 48px;
    position: absolute;
  }
  .index2-instagram {
    width: 40px;
  }
  .index2-git-hub {
    top: 40px;
    bottom: 0px;
  }
  .index2-mstdn {
    top: 40px;
    left: 348px;
    width: 40px;
  }
  .index2-misskey {
    top: 40px;
    right: 80px;
    width: 40px;
    bottom: 0px;
  }
  .index2-discord {
    left: 348px;
  }
  .index2-tik-tok {
    top: 120px;
    bottom: 0px;
  }
  .index2-niconico {
    top: 0px;
    right: 80px;
    width: 40px;
    bottom: 0px;
  }
  .index2-soundcloud {
    right: 160px;
  }
  .index2-v-rchat {
    top: 80px;
    width: 40px;
    bottom: 0px;
  }
  .index2-gallery-card {
    height: 200px;
    flex-direction: column;
  }
  .index2-container02 {
    height: 70%;
  }
  .index2-gallery-card1 {
    height: 200px;
    flex-direction: column;
  }
  .index2-container03 {
    height: 70%;
  }
  .index2-gallery-card2 {
    height: 200px;
    flex-direction: column;
  }
  .index2-container04 {
    height: 70%;
  }
  .index2-gallery-card3 {
    height: 200px;
    flex-direction: column;
  }
  .index2-container05 {
    height: 70%;
  }
  .index2-gallery-card4 {
    height: 200px;
    flex-direction: column;
  }
  .index2-container06 {
    height: 70%;
  }
  .index2-gallery-card5 {
    height: 200px;
    flex-direction: column;
  }
  .index2-container07 {
    height: 70%;
  }
  .index2-gallery-card6 {
    height: 200px;
    flex-direction: column;
  }
  .index2-container08 {
    height: 70%;
  }
  .index2-gallery-card7 {
    height: 200px;
    flex-direction: column;
  }
  .index2-container09 {
    height: 70%;
  }
  .index2-gallery-card8 {
    height: 200px;
    flex-direction: column;
  }
  .index2-container10 {
    height: 70%;
  }
}
@media(max-width: 479px) {
  .index2-container {
    flex-direction: column;
    background-color: transparent;
  }
  .index2-head-container {
    width: 100%;
    height: 250px;
    background-image: url('illusts/500.png');
  }
  .index2-title-con {
    flex-wrap: wrap;
    align-self: flex-end;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .index2-title {
    top: 0px;
    left: 0px;
    color: var(--dl-color-gray-white);
    bottom: 0px;
    position: static;
    font-size: 40px;
    align-self: center;
    text-align: left;
    letter-spacing: 20px;
    text-transform: uppercase;
  }
  .index2-subtitle {
    color: var(--dl-color-gray-white);
    bottom: 10px;
    margin: 0px;
    position: static;
    font-size: 15px;
    align-self: flex-start;
  }
  .index2-link {
    padding: 2px;
    font-size: 12px;
  }
  .index2-link01 {
    padding: 2px;
    font-size: 12px;
  }
  .index2-link02 {
    padding: 2px;
    font-size: 12px;
  }
  .index2-link03 {
    padding: 2px;
    font-size: 12px;
  }
  .index2-link04 {
    padding: 2px;
    font-size: 12px;
  }
  .index2-link05 {
    padding: 2px;
    font-size: 12px;
  }
  .index2-link06 {
    padding: 2px;
    font-size: 12px;
  }
  .index2-link07 {
    padding: 2px;
    font-size: 12px;
  }
  .index2-twitter {
    top: 0px;
    left: 0px;
    width: 48px;
    position: absolute;
  }
  .index2-twitter1 {
    top: 80px;
    left: 0px;
    width: 4px;
    position: absolute;
  }
  .index2-youtube {
    top: 0px;
    right: 48px;
    width: 24px;
    bottom: 0px;
  }
  .index2-unicodepod {
    top: 0px;
    left: 72px;
    right: 0px;
    width: 36px;
  }
  .index2-spotify {
    top: 36px;
    left: 84px;
    width: 24px;
  }
  .index2-keybase {
    top: 48px;
    left: 48px;
    width: 24px;
  }
  .index2-tumblr {
    top: 108px;
    right: 0px;
    width: 48px;
    position: absolute;
  }
  .index2-botseikatu {
    top: 0px;
    left: 48px;
    width: 24px;
    position: absolute;
  }
  .index2-kakuyomu {
    top: 0px;
    left: 108px;
    width: 48px;
  }
  .index2-instagram {
    top: 0px;
    right: 108px;
    width: 24px;
    position: absolute;
  }
  .index2-git-hub {
    top: 48px;
    right: 48px;
    width: 24px;
    position: absolute;
  }
  .index2-mstdn {
    top: 0px;
    left: 156px;
    width: 24px;
    position: absolute;
  }
  .index2-misskey {
    top: 0px;
    left: 156px;
    width: 24px;
    position: absolute;
  }
  .index2-discord {
    top: 24px;
    left: 156px;
    width: 24px;
  }
  .index2-tik-tok {
    top: 84px;
    right: 0px;
    width: 24px;
    bottom: 0px;
  }
  .index2-pixiv {
    right: 0px;
    width: 48px;
    bottom: 0px;
    position: absolute;
  }
  .index2-niconico {
    top: 72px;
    right: 48px;
    width: 36px;
    position: absolute;
  }
  .index2-soundcloud {
    top: 24px;
    right: 72px;
    width: 36px;
    position: absolute;
  }
  .index2-v-rchat {
    top: 48px;
    right: 12px;
    width: 36px;
    position: absolute;
  }
  .index2-intro {
    color: var(--dl-color-gray-black);
    font-size: 10px;
    align-self: stretch;
    margin-top: var(--dl-space-space-unit);
    padding-top: 0px;
    margin-bottom: var(--dl-space-space-unit);
    padding-bottom: 0px;
    background-color: var(--dl-color-gray-900);
  }
  .index2-history {
    font-size: 10px;
    align-self: stretch;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: var(--dl-color-gray-900);
  }
  .index2-buttoncon {
    height: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .index2-container01 {
    width: 100%;
    position: relative;
    background-color: var(--dl-color-primary-21);
  }
  .index2-text20 {
    align-self: flex-start;
  }
  .index2-ycon {
    width: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .index2-gallery-card {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index2-container02 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index2-gallery-card1 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index2-container03 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index2-gallery-card2 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index2-container04 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index2-gallery-card3 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index2-container05 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index2-gallery-card4 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index2-container06 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index2-gallery-card5 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index2-container07 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index2-gallery-card6 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index2-container08 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index2-gallery-card7 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index2-container09 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index2-gallery-card8 {
    width: 150px;
    padding: var(--dl-space-space-halfunit);
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .index2-container10 {
    width: 120px;
    height: 50%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .index2-container11 {
    width: auto;
    align-self: flex-start;
  }
  .index2-container12 {
    position: relative;
    align-self: center;
    flex-direction: column;
  }
  .index2-link37 {
    color: #ffffff;
    width: auto;
    height: auto;
    margin: var(--dl-space-space-halfunit);
    padding: var(--dl-space-space-halfunit);
    position: relative;
    align-self: center;
    border-width: 0px;
    border-radius: 0px;
    background-color: #5FC0C2;
  }
  .index2-text54 {
    text-align: center;
  }
  .index2-container13 {
    width: auto;
    flex-wrap: wrap;
    align-self: flex-start;
  }
  .index2-container14 {
    padding: var(--dl-space-space-unit);
    position: relative;
  }
  .index2-image3 {
    width: var(--dl-size-size-xlarge);
    height: auto;
  }
  .index2-text59 {
    color: var(--dl-color-primary-text);
    width: 100%;
  }
  .index2-container15 {
    width: auto;
    height: auto;
    align-self: flex-start;
    flex-direction: column;
  }
  .index2-text60 {
    width: auto;
    align-self: flex-start;
  }
  .index2-container16 {
    height: auto;
    align-self: flex-start;
    flex-direction: column;
  }
}
