.not-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  background-image: url('https://mikanixonable.github.io/notfound.png');
  background-position: center;
}
.not-link {
  display: contents;
}
.not-container1 {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100px;
  bottom: 150px;
  height: 100px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-size: cover;
  justify-content: flex-start;
  text-decoration: none;
  background-image: url('https://mikanixonable.github.io/logo.png');
}
