.page4-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page4-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-21);
}
.page4-n1 {
  width: auto;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #dfbadb;
}
.page4-image {
  height: 600px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page4-text {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-style: normal;
  font-weight: 200;
}
.page4-n101 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image01 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n102 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image02 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n103 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image03 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n104 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image04 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n105 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image05 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n106 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image06 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n107 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image07 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n108 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image08 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n109 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image09 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n110 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image10 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n111 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image11 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n112 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image12 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n113 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image13 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n114 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image14 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n115 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image15 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n116 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image16 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n117 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image17 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n118 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image18 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n119 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image19 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n120 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image20 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n121 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image21 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n122 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image22 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n123 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image23 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n124 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image24 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n125 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image25 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-n126 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page4-image26 {
  height: 500px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page4-container2 {
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-700);
}
.page4-link {
  color: var(--dl-color-gray-700);
  padding: var(--dl-space-space-unit);
  font-size: 30px;
  font-style: normal;
  font-weight: 100;
  border-color: var(--dl-color-primary-text);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-primary-text);
}
.page4-link1 {
  display: contents;
}
.page4-image27 {
  left: 0px;
  right: 0px;
  width: 100px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 479px) {
  .page4-container {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .page4-container1 {
    align-self: center;
  }
  .page4-n1 {
    height: auto;
  }
  .page4-image {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n101 {
    height: auto;
    background-color: transparent;
  }
  .page4-image01 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n102 {
    height: auto;
    background-color: transparent;
  }
  .page4-image02 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n103 {
    height: auto;
    background-color: transparent;
  }
  .page4-image03 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n104 {
    height: auto;
    background-color: transparent;
  }
  .page4-image04 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n105 {
    height: auto;
    background-color: transparent;
  }
  .page4-image05 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n106 {
    height: auto;
    background-color: transparent;
  }
  .page4-image06 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n107 {
    height: auto;
    background-color: transparent;
  }
  .page4-image07 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n108 {
    height: auto;
    background-color: transparent;
  }
  .page4-image08 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n109 {
    height: auto;
    background-color: transparent;
  }
  .page4-image09 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n110 {
    height: auto;
    background-color: transparent;
  }
  .page4-image10 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n111 {
    height: auto;
    background-color: transparent;
  }
  .page4-image11 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n112 {
    height: auto;
    background-color: transparent;
  }
  .page4-image12 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n113 {
    height: auto;
    background-color: transparent;
  }
  .page4-image13 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n114 {
    height: auto;
    background-color: transparent;
  }
  .page4-image14 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n115 {
    height: auto;
    background-color: transparent;
  }
  .page4-image15 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n116 {
    height: auto;
    background-color: transparent;
  }
  .page4-image16 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n117 {
    height: auto;
    background-color: transparent;
  }
  .page4-image17 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n118 {
    height: auto;
    background-color: transparent;
  }
  .page4-image18 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n119 {
    height: auto;
    background-color: transparent;
  }
  .page4-image19 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n120 {
    height: auto;
    background-color: transparent;
  }
  .page4-image20 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n121 {
    height: auto;
    background-color: transparent;
  }
  .page4-image21 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n122 {
    height: auto;
    background-color: transparent;
  }
  .page4-image22 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n123 {
    height: auto;
    background-color: transparent;
  }
  .page4-image23 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n124 {
    height: auto;
    background-color: transparent;
  }
  .page4-image24 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n125 {
    height: auto;
    background-color: transparent;
  }
  .page4-image25 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-n126 {
    height: auto;
    background-color: transparent;
  }
  .page4-image26 {
    width: auto;
    height: 500px;
    margin: var(--dl-space-space-halfunit);
  }
  .page4-container2 {
    width: auto;
    height: 120px;
  }
}
