.page5-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page5-n1 {
  width: 40%;
  height: 600px;
  margin: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-primary-700);
  border-width: var(--dl-size-size-small);
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.page5-image {
  width: 250px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-text {
  left: 0px;
  color: var(--dl-color-gray-700);
  right: 0px;
  bottom: -50px;
  position: absolute;
  font-size: 30px;
  text-align: center;
  font-family: Merriweather;
}
.page5-menu {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page5-n101 {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-link {
  display: contents;
}
.page5-container01 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/-8.png');
}
.page5-text01 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-family: Inter;
}
.page5-link01 {
  display: contents;
}
.page5-container02 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('https://mikanixonable.github.io/20.png');
}
.page5-text03 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-family: Inter;
}
.page5-link02 {
  display: contents;
}
.page5-container03 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/100.png');
}
.page5-text05 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-family: Inter;
}
.page5-container04 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page5-n102 {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-link03 {
  display: contents;
}
.page5-container05 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/227.png');
}
.page5-text07 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-family: Inter;
}
.page5-link04 {
  display: contents;
}
.page5-container06 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/300.png');
}
.page5-text09 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-family: Inter;
}
.page5-link05 {
  display: contents;
}
.page5-container07 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/436.png');
}
.page5-text11 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-family: Inter;
}
.page5-n103 {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-container08 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page5-link06 {
  display: contents;
}
.page5-container09 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/500.png');
}
.page5-text13 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-link07 {
  display: contents;
}
.page5-container10 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}
.page5-text14 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-link08 {
  display: contents;
}
.page5-container11 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}
.page5-text16 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-n104 {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-container12 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page5-container13 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page5-link09 {
  display: contents;
}
.page5-container14 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}
.page5-text18 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-link10 {
  display: contents;
}
.page5-container15 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}
.page5-text20 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-link11 {
  display: contents;
}
.page5-container16 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}
.page5-text22 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-n105 {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-link12 {
  display: contents;
}
.page5-container17 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/271.png');
  background-position: bottom left;
}
.page5-text24 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-link13 {
  display: contents;
}
.page5-container18 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/339.png');
  background-position: bottom left;
}
.page5-text25 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-link14 {
  display: contents;
}
.page5-container19 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/153.png');
  background-position: bottom left;
}
.page5-text26 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-container20 {
  flex: 0 0 auto;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page5-container21 {
  flex: 0 0 auto;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page5-n106 {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-link15 {
  display: contents;
}
.page5-container22 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/237.png');
  background-position: center;
}
.page5-text27 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-primary-text);
  position: absolute;
  font-size: 25px;
  font-family: Inter;
}
.page5-container23 {
  flex: 0 0 auto;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page5-container24 {
  flex: 0 0 auto;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page5-n107 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image01 {
  width: 450px;
  margin: var(--dl-space-space-threeunits);
  align-self: center;
  object-fit: cover;
}
.page5-n108 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image02 {
  width: 450px;
  margin: var(--dl-space-space-threeunits);
  align-self: center;
  object-fit: cover;
}
.page5-n109 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image03 {
  width: 300px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page5-image04 {
  width: 300px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page5-n110 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image05 {
  width: 300px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page5-image06 {
  width: 300px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page5-n111 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image07 {
  width: 350px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-n112 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image08 {
  width: 350px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-n113 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image09 {
  width: 350px;
  margin: var(--dl-space-space-sixunits);
  align-self: center;
  object-fit: cover;
}
.page5-n114 {
  width: 100%;
  height: 1500px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image10 {
  width: 550px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-n115 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.page5-image11 {
  width: 250px;
  margin: var(--dl-space-space-twounits);
  align-self: center;
  object-fit: cover;
}
.page5-image12 {
  width: 250px;
  margin: var(--dl-space-space-twounits);
  align-self: center;
  object-fit: cover;
}
.page5-n {
  width: 100%;
  height: 1000px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-container25 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.page5-image13 {
  width: 250px;
  margin: var(--dl-space-space-twounits);
  align-self: center;
  object-fit: cover;
}
.page5-image14 {
  width: 250px;
  margin: var(--dl-space-space-twounits);
  align-self: center;
  object-fit: cover;
}
.page5-container26 {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.page5-image15 {
  width: 250px;
  margin: var(--dl-space-space-twounits);
  align-self: center;
  object-fit: cover;
}
.page5-image16 {
  width: 250px;
  margin: var(--dl-space-space-twounits);
  align-self: center;
  object-fit: cover;
}
.page5-n1 {
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image17 {
  width: 250px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-image18 {
  width: 250px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-image19 {
  width: 250px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-n2 {
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image20 {
  width: 200px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-image21 {
  width: 250px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-n3 {
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image22 {
  width: 250px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-image23 {
  width: 200px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-a {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #505773;
}
.page5-image24 {
  width: 500px;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  object-fit: cover;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.page5-image25 {
  width: 500px;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  object-fit: cover;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.page5-image26 {
  width: 500px;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  object-fit: cover;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.page5-image27 {
  width: 500px;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  object-fit: cover;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.page5-image28 {
  width: 500px;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  object-fit: cover;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.page5-image29 {
  width: 500px;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  object-fit: cover;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.page5-container27 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.page5-image30 {
  width: 250px;
  margin: var(--dl-space-space-oneandhalfunits);
  align-self: center;
  object-fit: cover;
}
.page5-image31 {
  width: 250px;
  margin: var(--dl-space-space-oneandhalfunits);
  align-self: center;
  object-fit: cover;
}
.page5-image32 {
  width: 250px;
  margin: var(--dl-space-space-oneandhalfunits);
  align-self: center;
  object-fit: cover;
}
.page5-container28 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image33 {
  width: 450px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-container29 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image34 {
  width: 350px;
  margin: var(--dl-space-space-sixunits);
  align-self: center;
  object-fit: cover;
}
.page5-container30 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-image35 {
  width: 250px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page5-container31 {
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #94979e;
}
.page5-image36 {
  width: 350px;
  margin: var(--dl-space-space-halfunit);
  align-self: center;
  object-fit: cover;
}
.page5-image37 {
  width: 350px;
  margin: var(--dl-space-space-halfunit);
  align-self: center;
  object-fit: cover;
}
.page5-image38 {
  width: 350px;
  margin: var(--dl-space-space-halfunit);
  align-self: center;
  object-fit: cover;
}
.page5-container32 {
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #94979e;
}
.page5-image39 {
  width: 250px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page5-image40 {
  width: 250px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page5-container33 {
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #94979e;
}
.page5-image41 {
  width: 250px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page5-image42 {
  width: 250px;
  margin: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
}
.page5-container34 {
  width: 100%;
  height: 900px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.page5-image43 {
  width: 300px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-container35 {
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.page5-image44 {
  width: 300px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-container36 {
  width: 100%;
  height: 900px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.page5-image45 {
  width: 550px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-container37 {
  width: 100%;
  height: 900px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.page5-image46 {
  width: 550px;
  margin: var(--dl-space-space-fourunits);
  align-self: center;
  object-fit: cover;
}
.page5-menu1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.page5-n116 {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-link16 {
  display: contents;
}
.page5-container38 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/-8.png');
}
.page5-text30 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-family: Inter;
}
.page5-link17 {
  display: contents;
}
.page5-container39 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('https://mikanixonable.github.io/20.png');
}
.page5-text32 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-family: Inter;
}
.page5-link18 {
  display: contents;
}
.page5-container40 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/100.png');
}
.page5-text34 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-family: Inter;
}
.page5-container41 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page5-n117 {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-link19 {
  display: contents;
}
.page5-container42 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/227.png');
}
.page5-text36 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-family: Inter;
}
.page5-link20 {
  display: contents;
}
.page5-container43 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/300.png');
}
.page5-text38 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-family: Inter;
}
.page5-link21 {
  display: contents;
}
.page5-container44 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/436.png');
}
.page5-text40 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-family: Inter;
}
.page5-n118 {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-container45 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page5-link22 {
  display: contents;
}
.page5-container46 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/500.png');
}
.page5-text42 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-link23 {
  display: contents;
}
.page5-container47 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-700);
}
.page5-text43 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-link24 {
  display: contents;
}
.page5-container48 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-700);
}
.page5-text45 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-n119 {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-link25 {
  display: contents;
}
.page5-container49 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/237.png');
  background-position: center;
}
.page5-text47 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 25px;
  font-family: Inter;
}
.page5-text49 {
  color: #ffffff;
}
.page5-container50 {
  flex: 0 0 auto;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page5-link26 {
  display: contents;
}
.page5-container51 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-700);
}
.page5-text50 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-link27 {
  display: contents;
}
.page5-container52 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-700);
}
.page5-text52 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-link28 {
  display: contents;
}
.page5-container53 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-700);
}
.page5-text54 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-n120 {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.page5-link29 {
  display: contents;
}
.page5-container54 {
  flex: 0 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url('illusts/271.png');
  background-position: bottom left;
}
.page5-text56 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-gray-white);
  position: absolute;
  font-size: 30px;
  font-family: Inter;
}
.page5-container55 {
  flex: 0 0 auto;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page5-container56 {
  flex: 0 0 auto;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page5-container57 {
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.page5-link30 {
  display: contents;
}
.page5-image47 {
  left: 0px;
  right: 0px;
  width: 100px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .page5-n114 {
    height: 800px;
  }
  .page5-image10 {
    width: 400px;
  }
  .page5-image11 {
    width: 300px;
    margin: var(--dl-space-space-twounits);
  }
  .page5-image12 {
    width: 300px;
    margin: var(--dl-space-space-twounits);
  }
  .page5-image17 {
    margin: var(--dl-space-space-twounits);
  }
  .page5-image18 {
    margin: var(--dl-space-space-twounits);
  }
  .page5-image19 {
    margin: var(--dl-space-space-twounits);
  }
  .page5-n2 {
    background-color: var(--dl-color-gray-900);
  }
  .page5-n3 {
    background-color: var(--dl-color-gray-900);
  }
  .page5-a {
    height: auto;
  }
  .page5-image24 {
    width: 400px;
    margin: var(--dl-space-space-unit);
  }
  .page5-image25 {
    width: 400px;
    margin: var(--dl-space-space-unit);
  }
  .page5-image26 {
    width: 400px;
    margin: var(--dl-space-space-unit);
  }
  .page5-image27 {
    width: 400px;
    margin: var(--dl-space-space-unit);
  }
  .page5-image28 {
    width: 400px;
    margin: var(--dl-space-space-unit);
  }
  .page5-image29 {
    width: 400px;
    margin: var(--dl-space-space-unit);
  }
  .page5-container27 {
    height: 450px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .page5-image30 {
    width: 280px;
    margin: var(--dl-space-space-unit);
  }
  .page5-image31 {
    width: 280px;
    margin: var(--dl-space-space-unit);
  }
  .page5-image32 {
    width: 280px;
    margin: var(--dl-space-space-unit);
  }
  .page5-container28 {
    height: auto;
    background-color: #3e4360;
  }
  .page5-image33 {
    margin: var(--dl-space-space-unit);
  }
  .page5-container29 {
    height: auto;
    background-color: #3e4360;
  }
  .page5-image34 {
    margin: var(--dl-space-space-unit);
  }
  .page5-container30 {
    height: auto;
    background-color: #3e4360;
  }
  .page5-image35 {
    margin: var(--dl-space-space-unit);
  }
  .page5-image36 {
    width: 300px;
  }
  .page5-image37 {
    width: 300px;
  }
  .page5-image38 {
    width: 300px;
  }
}
@media(max-width: 767px) {
  .page5-n1 {
    width: auto;
  }
  .page5-container01 {
    width: 120px;
    height: 50px;
  }
  .page5-text01 {
    color: #ffffff;
  }
  .page5-container02 {
    width: 120px;
    height: 50px;
  }
  .page5-text03 {
    color: #ffffff;
  }
  .page5-container03 {
    width: 120px;
    height: 50px;
  }
  .page5-text05 {
    color: #ffffff;
  }
  .page5-container04 {
    width: 120px;
    height: 50px;
  }
  .page5-container05 {
    width: 120px;
    height: 50px;
  }
  .page5-text07 {
    color: #ffffff;
  }
  .page5-container06 {
    width: 120px;
    height: 50px;
  }
  .page5-text09 {
    color: #ffffff;
  }
  .page5-container07 {
    width: 120px;
    height: 50px;
  }
  .page5-text11 {
    color: #ffffff;
  }
  .page5-container08 {
    width: 120px;
    height: 50px;
  }
  .page5-container09 {
    width: 120px;
    height: 50px;
  }
  .page5-text13 {
    color: #ffffff;
  }
  .page5-container10 {
    width: 120px;
    height: 50px;
  }
  .page5-text14 {
    color: #ffffff;
  }
  .page5-container11 {
    width: 120px;
    height: 50px;
  }
  .page5-text16 {
    color: #ffffff;
  }
  .page5-container12 {
    width: 120px;
    height: 50px;
  }
  .page5-container13 {
    width: 120px;
    height: 50px;
  }
  .page5-container14 {
    width: 120px;
    height: 50px;
  }
  .page5-text18 {
    color: #ffffff;
  }
  .page5-container15 {
    width: 120px;
    height: 50px;
  }
  .page5-text20 {
    color: #ffffff;
  }
  .page5-container16 {
    width: 120px;
    height: 50px;
  }
  .page5-text22 {
    color: #ffffff;
  }
  .page5-container17 {
    width: 120px;
  }
  .page5-text24 {
    color: #ffffff;
    width: auto;
    height: auto;
    font-size: 30px;
  }
  .page5-container18 {
    width: 120px;
  }
  .page5-text25 {
    color: #ffffff;
    width: auto;
    height: auto;
    font-size: 30px;
  }
  .page5-container19 {
    width: 120px;
  }
  .page5-text26 {
    color: #ffffff;
    width: auto;
    height: auto;
    font-size: 30px;
  }
  .page5-container20 {
    width: 120px;
    height: 50px;
  }
  .page5-container21 {
    width: 120px;
    height: 50px;
  }
  .page5-container22 {
    width: 120px;
  }
  .page5-text27 {
    color: #ffffff;
    width: auto;
    height: auto;
    font-size: 30px;
  }
  .page5-container23 {
    width: 120px;
    height: 50px;
  }
  .page5-container24 {
    width: 120px;
    height: 50px;
  }
  .page5-image17 {
    width: 200px;
  }
  .page5-image18 {
    width: 200px;
  }
  .page5-image19 {
    width: 200px;
  }
  .page5-image30 {
    width: 200px;
  }
  .page5-image31 {
    width: 200px;
  }
  .page5-image32 {
    width: 200px;
  }
  .page5-image36 {
    width: 220px;
  }
  .page5-image37 {
    width: 220px;
  }
  .page5-image38 {
    width: 220px;
  }
  .page5-container38 {
    width: 120px;
    height: 50px;
  }
  .page5-text30 {
    color: #ffffff;
  }
  .page5-container39 {
    width: 120px;
    height: 50px;
  }
  .page5-text32 {
    color: #ffffff;
  }
  .page5-container40 {
    width: 120px;
    height: 50px;
  }
  .page5-text34 {
    color: #ffffff;
  }
  .page5-container41 {
    width: 120px;
    height: 50px;
  }
  .page5-container42 {
    width: 120px;
    height: 50px;
  }
  .page5-text36 {
    color: #ffffff;
  }
  .page5-container43 {
    width: 120px;
    height: 50px;
  }
  .page5-text38 {
    color: #ffffff;
  }
  .page5-container44 {
    width: 120px;
    height: 50px;
  }
  .page5-text40 {
    color: #ffffff;
  }
  .page5-container45 {
    width: 120px;
    height: 50px;
  }
  .page5-container46 {
    width: 120px;
    height: 50px;
  }
  .page5-text42 {
    color: #ffffff;
  }
  .page5-container47 {
    width: 120px;
    height: 50px;
  }
  .page5-text43 {
    color: #ffffff;
  }
  .page5-container48 {
    width: 120px;
    height: 50px;
  }
  .page5-text45 {
    color: #ffffff;
  }
  .page5-container49 {
    width: 120px;
  }
  .page5-text47 {
    color: #ffffff;
    width: auto;
    height: auto;
    font-size: 20px;
  }
  .page5-container50 {
    width: 120px;
    height: 50px;
  }
  .page5-container51 {
    width: 120px;
    height: 50px;
  }
  .page5-text50 {
    color: #ffffff;
  }
  .page5-container52 {
    width: 120px;
    height: 50px;
  }
  .page5-text52 {
    color: #ffffff;
  }
  .page5-container53 {
    width: 120px;
    height: 50px;
  }
  .page5-text54 {
    color: #ffffff;
  }
  .page5-container54 {
    width: 120px;
  }
  .page5-text56 {
    color: #ffffff;
    width: auto;
    height: auto;
    font-size: 30px;
  }
  .page5-container55 {
    width: 120px;
    height: 50px;
  }
  .page5-container56 {
    width: 120px;
    height: 50px;
  }
}
@media(max-width: 479px) {
  .page5-n1 {
    height: 300px;
  }
  .page5-image {
    width: 200px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-text {
    left: 0px;
    color: var(--dl-color-gray-700);
    right: 0px;
    bottom: -22px;
    position: absolute;
    font-size: 20px;
    align-self: flex-end;
    text-align: center;
    font-family: Merriweather;
  }
  .page5-menu {
    position: relative;
  }
  .page5-n101 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .page5-container01 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('illusts/-8.png');
  }
  .page5-text01 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    align-self: flex-start;
    text-align: left;
  }
  .page5-container02 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('https://mikanixonable.github.io/20.png');
  }
  .page5-text03 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    align-self: flex-start;
    text-align: left;
  }
  .page5-container03 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('illusts/100.png');
  }
  .page5-text05 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container04 {
    width: 60px;
    height: 30px;
    position: relative;
  }
  .page5-n102 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .page5-container05 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('illusts/227.png');
  }
  .page5-text07 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container06 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('illusts/300.png');
  }
  .page5-text09 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container07 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('illusts/436.png');
  }
  .page5-text11 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-n103 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .page5-container08 {
    width: 60px;
    height: 30px;
    position: relative;
  }
  .page5-container09 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('illusts/500.png');
  }
  .page5-text13 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    align-self: flex-start;
    text-align: left;
  }
  .page5-container10 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-700);
  }
  .page5-text14 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container11 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-700);
  }
  .page5-text16 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-n104 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .page5-container12 {
    width: 60px;
    height: 30px;
    position: relative;
  }
  .page5-container13 {
    width: 60px;
    height: 30px;
    position: relative;
  }
  .page5-container14 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-700);
  }
  .page5-text18 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container15 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-700);
  }
  .page5-text20 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container16 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-700);
  }
  .page5-text22 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-n105 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .page5-container17 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-500);
    background-image: url('illusts/271.png');
  }
  .page5-text24 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    width: 80px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container18 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-500);
    background-image: url('illusts/271.png');
  }
  .page5-text25 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    width: 80px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container19 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-500);
    background-image: url('illusts/271.png');
  }
  .page5-text26 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    width: 80px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container20 {
    width: 60px;
    height: 30px;
    position: relative;
  }
  .page5-container21 {
    width: 60px;
    height: 30px;
    position: relative;
  }
  .page5-n106 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .page5-container22 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-500);
    background-image: url('illusts/271.png');
  }
  .page5-text27 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    width: 80px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container23 {
    width: 60px;
    height: 30px;
    position: relative;
  }
  .page5-container24 {
    width: 60px;
    height: 30px;
    position: relative;
  }
  .page5-n107 {
    height: auto;
  }
  .page5-image01 {
    width: 250px;
    margin: var(--dl-space-space-fourunits);
  }
  .page5-n108 {
    height: auto;
  }
  .page5-image02 {
    width: 250px;
    margin: var(--dl-space-space-fourunits);
  }
  .page5-n109 {
    height: auto;
  }
  .page5-image03 {
    width: 80px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-image04 {
    width: 80px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-n110 {
    height: auto;
  }
  .page5-image05 {
    width: 80px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-image06 {
    width: 80px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-n111 {
    height: 300px;
  }
  .page5-image07 {
    width: 130px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-n112 {
    height: 300px;
  }
  .page5-image08 {
    width: 130px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-n113 {
    height: 300px;
  }
  .page5-image09 {
    width: 130px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-n114 {
    height: 600px;
  }
  .page5-image10 {
    width: 300px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-n115 {
    height: 500px;
  }
  .page5-image11 {
    width: 130px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-image12 {
    width: 130px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-n {
    height: 450px;
  }
  .page5-container25 {
    width: auto;
    margin: 0px;
  }
  .page5-image13 {
    width: 130px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-image14 {
    width: 130px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-container26 {
    width: auto;
    margin: 0px;
  }
  .page5-image15 {
    width: 130px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-image16 {
    width: 130px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-image17 {
    width: 100px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-image18 {
    width: 100px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-image19 {
    width: 100px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-n2 {
    height: auto;
  }
  .page5-image20 {
    width: 150px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .page5-image21 {
    width: 150px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .page5-n3 {
    height: auto;
  }
  .page5-image22 {
    width: 150px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .page5-image23 {
    width: 150px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .page5-a {
    height: auto;
  }
  .page5-image24 {
    width: 250px;
    margin: var(--dl-space-space-threeunits);
  }
  .page5-image25 {
    width: 250px;
    margin: var(--dl-space-space-threeunits);
  }
  .page5-image26 {
    width: 250px;
    margin: var(--dl-space-space-threeunits);
  }
  .page5-image27 {
    width: 250px;
    margin: var(--dl-space-space-threeunits);
  }
  .page5-image28 {
    width: 250px;
    margin: var(--dl-space-space-threeunits);
  }
  .page5-image29 {
    width: 250px;
    margin: var(--dl-space-space-threeunits);
  }
  .page5-container27 {
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .page5-image30 {
    width: 180px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-image31 {
    width: 180px;
  }
  .page5-image32 {
    width: 180px;
  }
  .page5-container28 {
    height: auto;
  }
  .page5-image33 {
    width: 250px;
    margin: var(--dl-space-space-twounits);
  }
  .page5-container29 {
    height: 300px;
  }
  .page5-image34 {
    width: 250px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-container30 {
    height: 300px;
  }
  .page5-image35 {
    width: 130px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-container31 {
    height: 200px;
  }
  .page5-image36 {
    width: 100px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-image37 {
    width: 100px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-image38 {
    width: 100px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-container32 {
    height: 300px;
  }
  .page5-image39 {
    width: 150px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-image40 {
    width: 150px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-container33 {
    height: 300px;
  }
  .page5-image41 {
    width: 150px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-image42 {
    width: 150px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-container34 {
    height: 500px;
  }
  .page5-image43 {
    width: 250px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-container35 {
    height: 300px;
  }
  .page5-image44 {
    width: 250px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-container36 {
    height: 400px;
  }
  .page5-image45 {
    width: 300px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-container37 {
    height: 400px;
  }
  .page5-image46 {
    width: 300px;
    margin: var(--dl-space-space-halfunit);
  }
  .page5-menu1 {
    position: relative;
  }
  .page5-n116 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .page5-container38 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('illusts/-8.png');
  }
  .page5-text30 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    align-self: flex-start;
    text-align: left;
  }
  .page5-container39 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('https://mikanixonable.github.io/20.png');
  }
  .page5-text32 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    align-self: flex-start;
    text-align: left;
  }
  .page5-container40 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('illusts/100.png');
  }
  .page5-text34 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container41 {
    width: 60px;
    height: 30px;
    position: relative;
  }
  .page5-n117 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .page5-container42 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('illusts/227.png');
  }
  .page5-text36 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container43 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('illusts/300.png');
  }
  .page5-text38 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container44 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('illusts/436.png');
  }
  .page5-text40 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-n118 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .page5-container45 {
    width: 60px;
    height: 30px;
    position: relative;
  }
  .page5-container46 {
    width: 60px;
    height: 30px;
    position: relative;
    background-size: cover;
    background-image: url('illusts/500.png');
  }
  .page5-text42 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    align-self: flex-start;
    text-align: left;
  }
  .page5-container47 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-700);
  }
  .page5-text43 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container48 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-700);
  }
  .page5-text45 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-n119 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .page5-container49 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-500);
  }
  .page5-text47 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    width: auto;
    position: absolute;
    font-size: 10px;
    text-align: left;
  }
  .page5-container50 {
    width: 60px;
    height: 30px;
    position: relative;
  }
  .page5-container51 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-700);
  }
  .page5-text50 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container52 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-700);
  }
  .page5-text52 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container53 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-700);
  }
  .page5-text54 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    right: 0px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-n120 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .page5-container54 {
    width: 60px;
    height: 30px;
    position: relative;
    background-color: var(--dl-color-gray-500);
    background-image: url('illusts/271.png');
  }
  .page5-text56 {
    top: 0px;
    left: 0px;
    color: #ffffff;
    width: 80px;
    position: absolute;
    font-size: 15px;
    text-align: left;
  }
  .page5-container55 {
    width: 60px;
    height: 30px;
    position: relative;
  }
  .page5-container56 {
    width: 60px;
    height: 30px;
    position: relative;
  }
  .page5-container57 {
    height: auto;
  }
}
