<!doctype html>
<html lang="{{ site.lang | default: " ja" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="color-scheme" content="light dark" />
  <!-- IE互換性のためのおまじない -->
  <link rel="stylesheet" href="./md/style.css">
  <script
    type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax:{inlineMath:[['\$','\$'],['\\(','\\)']],processEscapes:true},CommonHTML: {matchFontHeight:false}});</script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% seo %}
  {% include head-custom.html %}
</head>

<body>
  <div class="wrapper">
    <section>
      <!-- <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div> -->

      {{ content }}

    </section>

  </div>
</body>

</html>
<script>
  // let sheets = document.styleSheets
  // let sheet = sheets[sheets.length - 1];
  // let codeElm = document.querySelectorAll("code");
  // clsname = codeElm[0]
  //   .parentElement
  //   .parentElement
  //   .parentElement
  //   .className
  //   .match(/language-(\S+)\s/)[1]
  // sheet.insertRule(
  //   `code:before {  display: block;  position: absolute;  inset-block-start: -2.5em; inset-inline-start: 0;  content: attr(class);  padding-block: .5em;  padding-inline: 1em;  inline-size: fit-content;  background-color: #323e52;  color: white;  border-radius: .5em .5em 0 0;  content: "${clsname}";}`,
  //   sheet.cssRules.length);

  let sheets = document.styleSheets
  let sheet = sheets[sheets.length - 1];
  let codeElements = document.querySelectorAll("code");
  for (let i = 0; i < codeElements.length; i++) {
    let codeElement = codeElements[i]
    codeElement.parentElement.classList.add("pre" + i)

    // <div class="language-shell highlighter-rouge">
    // <div class="highlight">
    // <pre class="highlight">
    // <code>
    // から「python」を抽出
    clsName = codeElement
    .parentElement
      .parentElement
      .parentElement
      .className
    langName = codeElement
      .parentElement
      .parentElement
      .parentElement
      .className
      .match(/language-(\S+)\s/)[1]

    sheet.insertRule(
      `.pre${i}:before { content: "${langName}";}`,
      sheet.cssRules.length);
  }
</script>