<!doctype html>
<html lang="{{ site.lang | default: 'ja' }}">

<head>
  <meta charset="utf-8">
  <meta name="color-scheme" content="light dark" />
  <link rel="stylesheet" href="./md/style.css">
  <script
    type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax:{inlineMath:[['\$','\$'],['\\(','\\)']],processEscapes:true},CommonHTML: {matchFontHeight:false}});</script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% seo %}
</head>

<body onload="initializeMermaid()">
  <div class="wrapper">
    {{ content | toc }}
    
  </div>
  
</body>

</html>
<script src="https://unpkg.com/mermaid@10.5.1/dist/mermaid.min.js"></script>
<script>
  function initializeMermaid() {
mermaid.initialize({
  "theme": "base",
  "fontFamily": "TimesNewRoman Times Serif",
  "themeVariables": {
    "lineColor": "aliceblue",
    "primaryColor": "#323e52",
    "secondaryColor": "#397",
    "tertiaryColor": "#1a2638",
    "primaryTextColor": "white",
    "secondaryTextColor": "white",
    "tertiaryTextColor": "white",
    "primaryBorderColor": "aliceblue",
    "secondaryBorderColor": "aliceblue",
    "tertiaryBorderColor": "slategray"
  }
});
    window.mermaid.init(
      undefined,
      document.querySelectorAll('.language-mermaid'),
    );
  }

  let sheets = document.styleSheets
  let sheet = sheets[sheets.length - 1];
  let elms = document.querySelectorAll("code");
  for (let i = 0; i < elms.length; i++) {
    let elm = elms[i]

    // <div class="language-shell highlighter-rouge">
    // <div class="highlight">
    // <pre class="highlight">
    // <code>
    // から「python」を抽出
    let langName = elm
      .parentElement
      .parentElement
      .parentElement
      .className
      .match(/language-(\S+)\s/)[1]

    if (langName == "mermaid") {
      elm.parentElement.classList.add("mermaidpre")

    } else {
      elm.classList.add("code")
      elm.parentElement.classList.add("codepre")
      elm.parentElement.classList.add("codepre" + i)
      sheet.insertRule(
        `.codepre${i}:before { content: "${langName}";}`,
        sheet.cssRules.length);
    }
  }
</script>
<script>
  const audioElements = {};
  function btn(filePath, button) {
    if (!audioElements[filePath]) {
      // 新しい音声ファイルを再生
      audioElements[filePath] = new Audio(filePath);
      audioElements[filePath].play();
      button.classList.add('playing'); // ボタンのスタイルを変更
      // 音声再生終了時のイベントハンドラを設定
      audioElements[filePath].addEventListener('ended', function () {
        button.classList.remove('playing'); // ボタンのスタイルを元に戻す
        delete audioElements[filePath]; // オブジェクトから削除
      });
    } else {
      // 既存の音声ファイルを停止
      audioElements[filePath].pause();
      audioElements[filePath].currentTime = 0; // 音声を最初から再生できるようにリセット
      delete audioElements[filePath]; // オブジェクトから削除
      button.classList.remove('playing'); // ボタンのスタイルを元に戻す
    }
  }
</script>