<!doctype html>
<html lang="{{ site.lang | default: 'ja' }}">

<head>
  <meta charset="utf-8">
  <meta name="color-scheme" content="light dark" />
  <link rel="stylesheet" href="./md/style.css">
  <link rel="stylesheet" href="../md/style.css">
  <script type="text/javascript" src="js/d3v7.js"></script>
   
  <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax:{inlineMath:[['\$','\$'],['\\(','\\)']],processEscapes:true},CommonHTML: {matchFontHeight:false}});</script>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% seo %}
</head>

<body onload="initializeMermaid()">
  <svg id="headerSVG" version="1.1" baseProfile="full" width="84vw" height="50vw" viewbox="0 0 350 200"
      xmlns="http://www.w3.org/2000/svg">
      <a href="https://twitter.com/Mikanixonable">
        <g transform="translate(60,60)">
          <circle cx="0" cy="0" r="50" fill="#1C96E8" />
          <text x="-10" y="20" font-size="20" text-anchor="middle" alignment-baseline="central" fill="white">
            Twitter</text>
        </g>
      </a>
      <a href="https://bsky.app/profile/mikanixonable.bsky.social">
        <g transform="translate(40,135)">
          <circle cx="0" cy="0" r="25" fill="#007DFF" />
          <text x="2" y="-8" font-size="13" text-anchor="middle" alignment-baseline="central" fill="white">
            Bluesky</text>
        </g>
      </a>
      <a href="https://misskey.io/@Mikanixonable">
        <g transform="translate(90,130)">
          <circle cx="0" cy="0" r="20" fill="#7BA700" />
          <text x="-1" y="5" font-size="10" text-anchor="middle" alignment-baseline="central" fill="white">
            Misskey</text>
        </g>
      </a>
      <a href="https://open.spotify.com/user/cjsdijim4zllci0624b1wbak2">
        <g transform="translate(122,148)">
          <circle cx="0" cy="0" r="12" fill="#08a030" />
          <text x="-1" y="5" font-size="8" text-anchor="middle" alignment-baseline="central" fill="white">
            Spotify</text>
        </g>
      </a>
      <a href="https://github.com/Mikanixonable">
        <g transform="translate(140,100)">
          <circle rx="0" ry="0" r="20" fill="#333" />
          <text x="10" y="0" font-size="15" text-anchor="middle" alignment-baseline="central" fill="white">
            GitHub</text>
        </g>
      </a>
      <a href="https://www.pixiv.net/users/20149051/illustrations">
        <g transform="translate(270,100)">
          <circle cx="0" cy="0" r="30" fill="#0196FA" /><text x="0" y="0" font-size="17" text-anchor="middle"
            alignment-baseline="central" fill="white">
            Pixiv</text>
        </g>
      </a>
      <a href="https://mikanixonable.tumblr.com/">
        <g transform="translate(245,50)">
          <circle cx="0" cy="0" r="22" fill="#102745" /><text x="0" y="0" font-size="10" text-anchor="middle"
            alignment-baseline="central" fill="white">
            Tumblr</text>
        </g>
      </a>
      <a href="https://discord.com/users/396122233698910218">
        <g transform="translate(80,160)">
          <circle cx="0" cy="0" r="10" fill="#5865F2" /><text x="0" y="2" font-size="6" text-anchor="middle"
            alignment-baseline="central" fill="white">
            Discord</text>
        </g>
      </a>
      <a href="https://www.artstation.com/mikanixonable">
        <g transform="translate(225,90)">
          <circle cx="0" cy="0" r="12" fill="#26a" /><text x="-2" y="0" font-size="6" text-anchor="middle"
            alignment-baseline="central" fill="white">
            ArtStation</text>
        </g>
      </a>
      <a href="https://mikanixonable.hatenablog.com/">
        <g transform="translate(180,40)">
          <circle cx="0" cy="0" r="20" fill="#505259" /><text x="0" y="0" font-size="14" text-anchor="middle"
            alignment-baseline="central" fill="white">
            Blog</text>
        </g>
      </a>
      <a href="https://truthsocial.com/@mikanixonable">
        <g transform="translate(70,147)">
          <circle cx="0" cy="0" r="5" fill="#42a" /><text x="0" y="0" font-size="3" text-anchor="middle"
            alignment-baseline="central" fill="white">
            Truth</text>
        </g>
      </a>
      <a href="https://iris.to/npub15m0s2qs5580f342d9endsuu464g974tmc7fqpdxdqt35zx9tqw9s6hy98w">
        <g transform="translate(66,115)">
          <circle cx="0" cy="0" r="5" fill="#603285" /><text x="0" y="0" font-size="3" text-anchor="middle"
            alignment-baseline="central" fill="white">
            Nostr</text>
        </g>
      </a>
      <a href="https://www.instagram.com/mikanixonable/">
        <g transform="translate(310,150) rotate(50 0 0)">
          <circle cx="0" cy="0" r="10" fill="#CD1070" /><text x="10" y="0" font-size="8" text-anchor="middle"
            alignment-baseline="central" fill="white">
            Instagram</text>
        </g>
      </a>
      <a href="https://www.flickr.com/photos/196365191@N08/">
        <g transform="translate(305,120) rotate(0 0 0)">
          <circle cx="0" cy="0" r="8" fill="#0063DC" /><text x="3" y="0" font-size="6" text-anchor="middle"
            alignment-baseline="central" fill="white">
            Flickr</text>
        </g>
      </a>
      <a href="https://www.youtube.com/channel/UCQ02LvaZAbZAgAWBN5pYniA">
        <g transform="translate(270,155)">
          <circle cx="0" cy="0" r="20" fill="#FF0000" /><text x="0" y="0" font-size="8" text-anchor="middle"
            alignment-baseline="central" fill="white">
            YouTube</text>
        </g>
      </a>
      <a href="https://kakuyomu.jp/users/Eustralopithecus">
        <g transform="translate(20,105) rotate(0 0 0)">
          <circle cx="0" cy="0" r="8" fill="#2893CA" /><text x="5" y="1" font-size="5" text-anchor="middle"
            alignment-baseline="central" fill="white">
            kakuyomu</text>
        </g>
      </a>
      <a href="https://keybase.io/mikanixonable">
        <g transform="translate(235,163)">
          <circle cx="0" cy="0" r="8" fill="#FF6F21" /><text x="-3" y="0" font-size="6" text-anchor="middle"
            alignment-baseline="central" fill="white">
            keybase</text>
        </g>
      </a>
      <a href="https://bento.me/miku">
        <g transform="translate(150,70)">
          <circle cx="0" cy="0" r="6" fill="#888" /><text x="0" y="0" font-size="6" text-anchor="middle"
            alignment-baseline="central" fill="white">
            bento</text>
        </g>
      </a>
      <a href="https://soundcloud.com/mikanixonable">
        <g transform="translate(240,135)">
          <circle cx="0" cy="0" r="15" fill="#FF3902" /><text x="-7" y="-3" font-size="8" text-anchor="middle"
            alignment-baseline="central" fill="white">
            SoundCloud</text>
        </g>
      </a>
      <a href="https://www.nicovideo.jp/user/60514629/video">
        <g transform="translate(290,55)">
          <circle cx="0" cy="0" r="13" fill="#333" /><text x="0" y="0" font-size="6" text-anchor="middle"
            alignment-baseline="central" fill="white">
            niconico</text>
        </g>
      </a>
      <a href="https://www.tiktok.com/@mikanixonable">
        <g transform="translate(290,135)">
          <circle cx="0" cy="0" r="7" fill="#353050" /><text x="0" y="0" font-size="5" text-anchor="middle"
            alignment-baseline="central" fill="white">
            TikTok</text>
        </g>
      </a>
      <a href="https://vrchat.com/home/user/usr_37713f32-f424-4242-86c2-b8cb7bcc2b3b">
        <g transform="translate(320,100)">
          <circle cx="0" cy="0" r="13" fill="#354e45" /><text x="0" y="0" font-size="6" text-anchor="middle"
            alignment-baseline="central" fill="white">
            VRChat</text>
        </g>
      </a>
      <a href="https://mstdn.jp/@Mikanixonable">
        <g transform="translate(105,100)">
          <circle cx="0" cy="0" r="8" fill="#3088D4" /><text x="0" y="-3" font-size="6" text-anchor="middle"
            alignment-baseline="central" fill="white">
            mstdn</text>
        </g>
      </a>
      <a href="https://twitter.com/Unicode_pod">
        <g transform="translate(50,173)">
          <circle cx="0" cy="0" r="8" fill="#288E9C" /><text x="-2" y="0" font-size="4" text-anchor="middle"
            alignment-baseline="central" fill="white">
            Unicode pod</text>
        </g>
      </a>
      <a href="https://twitter.com/Mikanixonable2">
        <g transform="translate(105,178)">
          <circle cx="0" cy="0" r="8" fill="#8BAAAF" /><text x="2" y="0" font-size="4" text-anchor="middle"
            alignment-baseline="central" fill="white">
            AIみかぶる</text>
        </g>
      </a>
      <a href="./132">
        <g transform="translate(315,200)"><text x="0" y="0" font-size="5" text-anchor="middle"
            alignment-baseline="central" fill="white">
            その他のリンク</text>
        </g>
      </a>
      <text x="0" y="40" font-size="30" fill="white">
        月面植物園</text>
      <text x="4" y="60" font-size="15" fill="white">
        みかぶるのホームページ</text>
    </svg>
  <div class="wrapper">
    {{ content }}
  </div>

</body>
</html>

<script>
  let quote = document.getElementById("quote")
  array = ["テクノなまこ、科学の力",
        "ふとんすいたい",
        "$f(x) = \\sum_{n=0}^{\\infty} \\frac{f^{(n)}(a)}{n!}(x-a)^n$　テイラー展開",
        "$G_{SC} = 1366Wm^{-2}s^{-1}$ 太陽定数",
        "$\\frac{r_1}{r_2} = 11.94$ (二重楕円遷移の最小半径比)",
        "消しゴムが使い切られて消えるのを本当に見た人間はいない",
        "第四紀完新世の沖積層圏界面まで飛ばす水爆",
        "エンジンの馬力について考える空想上の馬がうごめく",
        "鳥たちが夜明けとともに空覆うメタンの風と二つ目の月",
        "iPad mini ほしい…",
        "for you欄は邪悪",
        "ふとんすい",
        "ただいまのUNIX時間: " + Date.now(),
        "Shall we dance 吧.",
        "あな、なのめならずぬめりなむうなぎなめる(ああ、並ひととおりでなくぬめりのあるうなぎであるようだ)",
        "ぬい",
        "萌の感受性のために生きるのではない",
        "ロシア国営なまこ会社、ロスナマコ",
        "美少女の外見で南方熊楠のスペックが欲しい",
        "契丹契丹文字契丹♪",
        "国家ぐるみ（政府機関のぬいぐるみ）",
        "時代の濁流がわたしとふとんを引き離した",
        "経団連会長、ねこの姿で発見　全身にねこすいの跡",
        "半覚醒系Vtuber、上野そら（うわのそら）",
        "初音ミクになりたい"

      ]
  quote.innerText = array[Math.floor(Math.random() * array.length)]
</script>

<script src="https://unpkg.com/mermaid@10.5.1/dist/mermaid.min.js"></script>
<script>
  function initializeMermaid() {
    mermaid.initialize({
  "theme": "base",
  "fontFamily": "TimesNewRoman Times Serif",
  "themeVariables": {
    "lineColor": "aliceblue",
    "primaryColor": "#323e52",
    "secondaryColor": "#397",
    "tertiaryColor": "#1a2638",
    "primaryTextColor": "white",
    "secondaryTextColor": "white",
    "tertiaryTextColor": "white",
    "primaryBorderColor": "aliceblue",
    "secondaryBorderColor": "aliceblue",
    "tertiaryBorderColor": "slategray"
  }
});
    window.mermaid.init(
      undefined,
      document.querySelectorAll('.language-mermaid'),
    );
  }

  let sheets = document.styleSheets
  let sheet = sheets[sheets.length - 1];
  let elms = document.querySelectorAll("code");
  for (let i = 0; i < elms.length; i++) {
    let elm = elms[i]

    // <div class="language-shell highlighter-rouge">
    // <div class="highlight">
    // <pre class="highlight">
    // <code>
    // から「python」を抽出
    let langName = elm
      .parentElement
      .parentElement
      .parentElement
      .className
      .match(/language-(\S+)\s/)[1]

    if (langName == "mermaid") {
      elm.parentElement.classList.add("mermaidpre")

    } else {
      elm.classList.add("code")
      elm.parentElement.classList.add("codepre")
      elm.parentElement.classList.add("codepre" + i)
      sheet.insertRule(
        `.codepre${i}:before { content: "${langName}";}`,
        sheet.cssRules.length);
    }
  }
</script>
<script>
  const audioElements = {};
  function btn(filePath, button) {
    if (!audioElements[filePath]) {
      // 新しい音声ファイルを再生
      audioElements[filePath] = new Audio(filePath);
      audioElements[filePath].play();
      button.classList.add('playing'); // ボタンのスタイルを変更
      // 音声再生終了時のイベントハンドラを設定
      audioElements[filePath].addEventListener('ended', function () {
        button.classList.remove('playing'); // ボタンのスタイルを元に戻す
        delete audioElements[filePath]; // オブジェクトから削除
      });
    } else {
      // 既存の音声ファイルを停止
      audioElements[filePath].pause();
      audioElements[filePath].currentTime = 0; // 音声を最初から再生できるようにリセット
      delete audioElements[filePath]; // オブジェクトから削除
      button.classList.remove('playing'); // ボタンのスタイルを元に戻す
    }
  }
</script>